Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

.
  packages/ui/package.json
  packages/ui/src/components/business/projet-card/ProjetCard.tsx
  packages/ui/src/components/business/projet-card/index.ts
  packages/ui/src/components/data-display/data-table/DataTable.tsx
  packages/ui/src/components/data-display/data-table/index.ts
  packages/ui/src/components/feedback/error-alert/ErrorAlert.tsx
  packages/ui/src/components/feedback/error-alert/index.ts
  packages/ui/src/components/feedback/toaster/ToastProvider.tsx
  packages/ui/src/components/feedback/toaster/Toaster.tsx
  packages/ui/src/components/feedback/toaster/index.ts
  packages/ui/src/components/layout/page-header/PageHeader.tsx
  packages/ui/src/components/layout/page-header/index.ts
  packages/ui/src/components/theme/theme-switcher/ThemeSwitcher.tsx
  packages/ui/src/components/theme/theme-switcher/index.ts
  packages/ui/src/index.ts
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

.
  packages/ui/package.json
  packages/ui/vite.config.mts
Labels: frontend, dependencies

.
  apps/web/src/app/(dashboard)/facturation/devis/[id]/edit/page.tsx
  packages/ui/src/components/business/displays/ClientCard/ClientCard.tsx
  packages/ui/src/components/business/displays/InvoiceCard/InvoiceCard.tsx
  packages/ui/src/components/business/displays/KpiCard/KpiCard.tsx
  packages/ui/src/components/business/displays/MaterialCard/MaterialCard.tsx
  packages/ui/src/components/business/displays/ProductionStatsCard/ProductionStatsCard.tsx
  packages/ui/src/components/business/displays/SalesStatsCard/SalesStatsCard.tsx
  packages/ui/src/components/business/displays/SupplierCard/SupplierCard.tsx
  packages/ui/src/components/business/displays/TaskCard/TaskCard.tsx
  packages/ui/src/components/business/index.ts
  packages/ui/src/components/business/metallurgy/ProductionOrderCard/ProductionOrderCard.tsx
  packages/ui/src/components/business/notifications/BulkOperationConfirmation/BulkOperationConfirmation.tsx
  packages/ui/src/components/business/notifications/CancelOrderConfirmation/CancelOrderConfirmation.tsx
  packages/ui/src/components/business/notifications/DeleteProjectConfirmation/DeleteProjectConfirmation.tsx
  packages/ui/src/components/business/notifications/PaymentConfirmation/PaymentConfirmation.tsx
  packages/ui/src/components/business/tables/ClientsTable/ClientsTable.tsx
  packages/ui/src/components/business/tables/DashboardWidget/DashboardWidget.tsx
  packages/ui/src/components/business/tables/InvoicesTable/InvoicesTable.tsx
  packages/ui/src/components/business/tables/MaterialsTable/MaterialsTable.tsx
  packages/ui/src/components/business/tables/ProjectsTable/ProjectsTable.tsx
  packages/ui/src/components/business/tables/QuotesTable/QuotesTable.tsx
  packages/ui/src/components/business/tables/StockMovementsTable/StockMovementsTable.tsx
  packages/ui/src/components/business/tables/TasksTable/TasksTable.tsx
  packages/ui/src/components/data-display/index.ts
  packages/ui/src/components/feedback/index.ts
  packages/ui/src/components/layout/index.ts
  packages/ui/src/components/navigation/index.ts
  packages/ui/src/components/primitives/input/Input.tsx
Labels: frontend

.
  apps/api/eslint.config.mjs
  apps/api/package.json
  apps/web/.eslintrc.permissive.js
  apps/web/eslint.config.mjs
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/(dashboard)/facturation/devis/[id]/edit/page.tsx
  apps/web/src/app/(dashboard)/production/planning/page.tsx
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/types/ui-stubs.d.ts
  eslint.config.mjs
  package.json
  packages/ui/eslint.config.mjs
  packages/ui/src/components/primitives/input/Input.tsx
  packages/utils/eslint.config.permissive.js
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, types, utils

.
  apps/web/package.json
  packages/config/eslint/node.js
  packages/config/eslint/react.js
  packages/config/package.json
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

.
  .vscode/settings.json
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/tsconfig.json
  biome.json
  packages/ui/package.json
  packages/ui/src/components/feedback/alert/alert.tsx
  packages/ui/tsconfig.json
  packages/utils/package.json
  tsconfig.json
Labels: frontend, configuration, dependencies, utils

.
  apps/web/src/app/(dashboard)/chiffrage/page.tsx
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/error.tsx
  apps/web/src/app/(dashboard)/facturation/devis/page.tsx
  apps/web/src/app/(dashboard)/facturation/paiements/page.tsx
  apps/web/src/app/(dashboard)/production/planning/page.tsx
  apps/web/src/app/(dashboard)/production/production.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/app/(dashboard)/stock/page.tsx
  apps/web/src/app/auth/forgot-password/page.tsx
  apps/web/src/app/auth/register/page.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/facturation/create-devis-dialog.tsx
  apps/web/src/components/facturation/create-facture-dialog.tsx
  apps/web/src/components/facturation/create-paiement-dialog.tsx
  apps/web/src/components/facturation/devis-filters.tsx
  apps/web/src/components/facturation/devis-table.tsx
  apps/web/src/components/facturation/factures-filters.tsx
  apps/web/src/components/facturation/factures-table.tsx
  apps/web/src/components/facturation/paiements-table.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/notifications/notification-center.tsx
  apps/web/src/components/production/create-ordre-dialog.tsx
  apps/web/src/components/production/ordre-materiaux-tab.tsx
  apps/web/src/components/production/production-filters.tsx
  apps/web/src/components/projets/projet-devis-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  apps/web/src/components/providers/monitoring-provider.tsx
  apps/web/src/components/stocks/add-material-dialog.tsx
  apps/web/src/components/stocks/chutes-table.tsx
  apps/web/src/components/stocks/create-mouvement-dialog.tsx
  apps/web/src/components/stocks/stocks-filters.tsx
  turbo.json
Labels: frontend, configuration

.
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/error.tsx
  apps/web/src/app/(dashboard)/production/page.tsx
  apps/web/src/app/(dashboard)/production/planning/page.tsx
  apps/web/src/app/(dashboard)/production/production.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/app/(dashboard)/stock/page.tsx
  apps/web/src/app/auth/register/page.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/components/production/create-ordre-dialog.tsx
  apps/web/src/components/production/production-filters.tsx
  apps/web/src/components/stocks/add-material-dialog.tsx
  apps/web/src/components/stocks/stocks-filters.tsx
Labels: frontend

.
  apps/web/src/app/(dashboard)/chiffrage/page.tsx
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/error.tsx
  apps/web/src/app/(dashboard)/production/page.tsx
  apps/web/src/app/(dashboard)/production/planning/page.tsx
  apps/web/src/app/(dashboard)/production/production.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/app/(dashboard)/stock/page.tsx
  apps/web/src/app/auth/register/page.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/components/facturation/create-paiement-dialog.tsx
  apps/web/src/components/facturation/paiements-table.tsx
  apps/web/src/components/production/create-ordre-dialog.tsx
  apps/web/src/components/production/production-filters.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/stocks/add-material-dialog.tsx
  apps/web/src/components/stocks/create-mouvement-dialog.tsx
  apps/web/src/components/stocks/stocks-filters.tsx
Labels: frontend

.
  apps/api/src/health/integrity.service.ts
  apps/web/src/app/auth/forgot-password/page.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/app/register/layout.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/components/ClientOnly.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/notifications/notification-center.tsx
  biome.json
Labels: frontend, backend, configuration

.
  apps/web/src/app/auth/forgot-password/page.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/app/register/page.tsx
Labels: frontend

.
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/notifications/notification-center.tsx
  apps/web/src/components/providers/monitoring-provider.tsx
  packages/ui/src/components/business/displays/ClientCard/ClientCard.tsx
  packages/ui/src/components/business/displays/InvoiceCard/InvoiceCard.tsx
  packages/ui/src/components/business/displays/KpiCard/KpiCard.tsx
  packages/ui/src/components/business/displays/MaterialCard/MaterialCard.tsx
  packages/ui/src/components/business/displays/ProductionStatsCard/ProductionStatsCard.tsx
  packages/ui/src/components/business/displays/SalesStatsCard/SalesStatsCard.tsx
  packages/ui/src/components/business/displays/SupplierCard/SupplierCard.tsx
  packages/ui/src/components/business/displays/TaskCard/TaskCard.tsx
  packages/ui/src/components/business/metallurgy/ProductionOrderCard/ProductionOrderCard.tsx
  packages/ui/src/components/business/tables/ClientsTable/ClientsTable.tsx
  packages/ui/src/components/business/tables/DashboardWidget/DashboardWidget.tsx
  packages/ui/src/components/business/tables/InvoicesTable/InvoicesTable.tsx
  packages/ui/src/components/business/tables/MaterialsTable/MaterialsTable.tsx
  packages/ui/src/components/business/tables/ProjectsTable/ProjectsTable.tsx
  packages/ui/src/components/business/tables/QuotesTable/QuotesTable.tsx
  packages/ui/src/components/business/tables/StockMovementsTable/StockMovementsTable.tsx
  packages/ui/src/components/business/tables/TasksTable/TasksTable.tsx
  packages/ui/src/components/feedback/error-alert/ErrorAlert.tsx
  packages/ui/src/components/feedback/toaster/Toaster.tsx
  packages/ui/src/components/primitives/input/Input.tsx
  packages/ui/src/components/theme/theme-switcher/ThemeSwitcher.tsx
Labels: frontend

.
  apps/web/src/app/(dashboard)/facturation/devis/[id]/edit/page.tsx
  apps/web/src/app/auth/forgot-password/page.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/app/register/layout.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/components/client-only.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/notifications/notification-center.tsx
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

Claude Intégration
  .claude/settings.local.json
  apps/web/src/components/production/ordre-operations-tab.tsx
Labels: frontend

.
  .claude/settings.local.json
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/facturation/paiements/page.tsx
  apps/web/src/app/(dashboard)/production/ordres/[ID]/page.tsx
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/app/auth/forgot-password/page.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/facturation/create-devis-dialog.tsx
  apps/web/src/components/facturation/create-facture-dialog.tsx
  apps/web/src/components/facturation/create-paiement-dialog.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/notifications/notification-center.tsx
  apps/web/src/components/notifications/notification-settings.tsx
  apps/web/src/components/production/create-ordre-dialog.tsx
  apps/web/src/components/production/ordre-info-tab.tsx
  apps/web/src/components/production/ordre-materiaux-tab.tsx
  apps/web/src/components/production/ordre-operations-tab.tsx
  apps/web/src/components/production/ordre-qualite-tab.tsx
  apps/web/src/components/production/production-filters.tsx
  apps/web/src/components/projets/projet-devis-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/providers/monitoring-provider.tsx
  apps/web/src/components/stocks/chutes-optimizer.tsx
  apps/web/src/components/stocks/create-mouvement-dialog.tsx
  apps/web/src/components/stocks/mouvements-table.tsx
  apps/web/src/components/stocks/stocks-filters.tsx
  apps/web/src/hooks/use-clients.ts
  apps/web/src/hooks/use-optimized-query.ts
  apps/web/src/hooks/use-projets.ts
Labels: frontend

.
  .claude/settings.local.json
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/production/planning-gantt.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  packages/ui/src/components/feedback/toaster/ToastProvider.tsx
Labels: frontend

.
  .claude/settings.local.json
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/components/client-only.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/components/production/planning-calendar.tsx
  apps/web/src/components/production/planning-gantt.tsx
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-devis-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  apps/web/src/components/providers/monitoring-provider.tsx
  apps/web/src/stores/selectors/app.selectors.ts
Labels: frontend

.
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/components/stocks/chutes-optimizer.tsx
  apps/web/src/hooks/use-clients.ts
  apps/web/src/hooks/use-form-validation.ts
  apps/web/src/hooks/use-optimized-query.ts
  apps/web/src/hooks/use-secure-validation.ts
  apps/web/src/lib/business-metrics.ts
  apps/web/src/lib/performance-monitor.ts
Labels: frontend

.
  apps/web/src/hooks/use-clients.ts
  apps/web/src/lib/optimized-selectors.ts
Labels: frontend

.
  .claude/settings.local.json
  apps/web/src/app/login/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/components/notifications/notification-center.tsx
  apps/web/src/components/production/planning-calendar.tsx
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/providers/monitoring-provider.tsx
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/components/stocks/chutes-optimizer.tsx
  apps/web/src/components/stocks/chutes-stats.tsx
  apps/web/src/components/stocks/mouvements-chart.tsx
  apps/web/src/hooks/performance-hooks.ts
  apps/web/src/hooks/use-clients.ts
  apps/web/src/hooks/use-design-system.ts
  apps/web/src/hooks/use-form-validation.ts
  apps/web/src/hooks/use-optimized-component.ts
  apps/web/src/hooks/use-optimized-query.ts
  apps/web/src/hooks/use-projets.ts
  apps/web/src/hooks/use-secure-validation.ts
  apps/web/src/hooks/use-ui.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/error-handler.ts
  apps/web/src/lib/id-system.ts
  apps/web/src/lib/monitoring/business-metrics.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/performance-monitor.ts
  apps/web/src/lib/react-query.ts
  apps/web/src/lib/security.ts
  apps/web/src/lib/security/security-enhanced.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/services/auth.service.ts
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/auth.store.ts
  packages/ui/src/components/feedback/toaster/ToastProvider.tsx
Labels: frontend

.
  apps/web/src/components/production/planning-calendar.tsx
  apps/web/src/components/production/planning-gantt.tsx
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  apps/web/src/components/stocks/chutes-optimizer.tsx
  apps/web/src/hooks/use-clients.ts
  apps/web/src/hooks/use-projets.ts
  apps/web/src/lib/business-metrics.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/performance-monitor.ts
  apps/web/src/lib/security.ts
  apps/web/src/lib/security/security-enhanced.ts
  apps/web/src/lib/ssr-utils.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/services/auth.service.ts
  apps/web/src/stores/auth.store.ts
  apps/web/src/stores/index.ts
Labels: frontend

.
  .claude/settings.local.json
  apps/web/src/hooks/use-projets.ts
  apps/web/src/hooks/use-web-vitals.ts
  apps/web/src/lib/business-metrics.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/performance-monitor.ts
  apps/web/src/lib/security.ts
  apps/web/src/lib/security/security-enhanced.ts
  apps/web/src/lib/ssr-utils.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/stores/auth.store.ts
Labels: frontend

.
  apps/web/src/app/(dashboard)/stock/mouvements/layout.tsx
  apps/web/src/app/register/layout.tsx
  apps/web/src/hooks/use-clients.ts
  apps/web/src/lib/id-system.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/ssr-utils.ts
Labels: frontend

refacto types
  .claude/settings.local.json
  apps/web/src/app/(dashboard)/production/ordres/[ID]/page.tsx
  apps/web/src/components/production/ordre-materiaux-tab.tsx
  apps/web/src/components/production/ordre-operations-tab.tsx
  apps/web/src/components/production/ordre-qualite-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/src/hooks/use-projets.ts
  apps/web/src/lib/api.ts
  packages/types/src/core/base.ts
  packages/types/src/core/common.ts
  packages/types/src/core/index.ts
  packages/types/src/core/utilities.ts
  packages/types/src/cross-cutting/audit.ts
  packages/types/src/cross-cutting/index.ts
  packages/types/src/cross-cutting/notifications.ts
  packages/types/src/cross-cutting/permissions.ts
  packages/types/src/domains/client/entities.ts
  packages/types/src/domains/client/enums.ts
  packages/types/src/domains/client/index.ts
  packages/types/src/domains/client/requests.ts
  packages/types/src/domains/index.ts
  packages/types/src/domains/production/entities.ts
  packages/types/src/domains/production/enums.ts
  packages/types/src/domains/production/index.ts
  packages/types/src/domains/production/requests.ts
  packages/types/src/domains/project/entities.ts
  packages/types/src/domains/project/enums.ts
  packages/types/src/domains/project/index.ts
  packages/types/src/domains/project/requests.ts
  packages/types/src/index-new.ts
  packages/types/src/index-old.ts
  packages/types/src/infrastructure/api/filters.ts
  packages/types/src/infrastructure/api/index.ts
  packages/types/src/infrastructure/api/requests.ts
  packages/types/src/infrastructure/api/responses.ts
  packages/types/src/infrastructure/index.ts
  packages/types/src/stores.ts
Labels: frontend, types

.
  apps/web/src/stores/projet.store.ts
  packages/types/src/admin.ts
  packages/types/src/api.ts
  packages/types/src/client.ts
  packages/types/src/common.ts
  packages/types/src/components.ts
  packages/types/src/cross-cutting/auth.ts
  packages/types/src/cross-cutting/index.ts
  packages/types/src/dashboard.ts
  packages/types/src/domains/billing/entities.ts
  packages/types/src/domains/billing/enums.ts
  packages/types/src/domains/billing/index.ts
  packages/types/src/domains/billing/requests.ts
  packages/types/src/domains/index.ts
  packages/types/src/domains/stock/entities.ts
  packages/types/src/domains/stock/index.ts
  packages/types/src/domains/stock/materials.ts
  packages/types/src/domains/user/entities.ts
  packages/types/src/domains/user/enums.ts
  packages/types/src/domains/user/index.ts
  packages/types/src/forms.ts
  packages/types/src/generated.ts
  packages/types/src/guards.ts
  packages/types/src/index-new.ts
  packages/types/src/index-old.ts
  packages/types/src/index.ts
  packages/types/src/notifications.ts
  packages/types/src/production.ts
  packages/types/src/projet.ts
  packages/types/src/store-entities.ts
  packages/types/src/user.ts
Labels: frontend, types

.
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/stores/selectors/app.selectors.ts
  packages/types/src/infrastructure/stores/entities.ts
  packages/utils/src/index.ts
Labels: frontend, types, utils

feat: enhance UI design system and add project API client
  apps/web/src/lib/api.ts
  packages/api-client/src/index.ts
  packages/api-client/src/projects/index.ts
  packages/api-client/src/projects/project-api.ts
  packages/ui/src/components/data-display/badge/Badge.tsx
  packages/ui/src/components/data-display/table/table.tsx
  packages/ui/src/components/layout/card/Card.tsx
  packages/ui/src/components/layout/index.ts
  packages/ui/src/components/layout/sidebar/Sidebar.tsx
  packages/ui/src/components/layout/sidebar/index.ts
  packages/ui/src/examples/design-system-demo.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/design-system.ts
Labels: frontend

feat: refactor web app with simplified structure
  .claude/settings.local.json
  apps/web/src/app/(dashboard)/chiffrage/page.tsx
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/app/(dashboard)/facturation/devis/[id]/edit/page.tsx
  apps/web/src/app/(dashboard)/facturation/devis/page.tsx
  apps/web/src/app/(dashboard)/facturation/factures/layout.tsx
  apps/web/src/app/(dashboard)/facturation/factures/page.tsx
  apps/web/src/app/(dashboard)/facturation/paiements/layout.tsx
  apps/web/src/app/(dashboard)/facturation/paiements/page.tsx
  apps/web/src/app/(dashboard)/production/ordres/[ID]/page.tsx
  apps/web/src/app/(dashboard)/production/page.tsx
  apps/web/src/app/(dashboard)/production/planning/page.tsx
  apps/web/src/app/(dashboard)/production/production.tsx
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/app/(dashboard)/projets/nouveau/layout.tsx
  apps/web/src/app/(dashboard)/projets/nouveau/page.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/(dashboard)/stock/chutes/layout.tsx
  apps/web/src/app/(dashboard)/stock/chutes/page.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/layout.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/app/(dashboard)/stock/page.tsx
  apps/web/src/app/auth/forgot-password/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/services/auth.service.ts
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/stores/selectors/app.selectors.ts
  packages/ui/src/components/data-display/badge/index.ts
  packages/ui/src/components/primitives/button/index.ts
Labels: frontend

.
  .claude/settings.local.json
  apps/web/src/app/global-error-simple.tsx
  apps/web/src/app/global-error.tsx
  build-summary.js
  create-mock-tanstack.js
  final-build-success.js
  final-build.js
  fix-web-deps.js
  improve-mock-tanstack.js
  install-and-build.js
  pnpm-lock.yaml
  simple-build.js
  test-ui-build.js
Labels: frontend, configuration, dependencies

Add elastic search
  .env.example
  apps/web/next.config.mjs
  apps/web/src/app/(dashboard)/admin/page.tsx
  apps/web/src/app/api/admin/elasticsearch/route.ts
  apps/web/src/app/api/search/images/route.ts
  apps/web/src/components/admin/elasticsearch-admin.tsx
  apps/web/src/hooks/use-auth.ts
  apps/web/src/lib/elasticsearch/init.ts
  apps/web/src/lib/server/elasticsearch.ts
  packages/domains/package.json
  packages/domains/src/image/index.ts
  packages/domains/src/image/service.ts
  packages/domains/src/index.ts
  packages/domains/src/search/elasticsearch-client.ts
  packages/domains/src/search/index.ts
  packages/domains/src/search/mappings/images.ts
  packages/domains/src/search/migration-service.ts
  packages/domains/tsup.config.ts
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

Add notification management
  .claude/settings.local.json
  apps/api/check-tables.js
  apps/api/create-notification-tables.sql
  apps/api/create-tables-final.js
  apps/api/create-tables-simple.js
  apps/api/run-migration.js
  apps/api/run-sql.js
  apps/api/src/common/base/base.entity.ts
  apps/api/src/database/data-source.ts
  apps/api/src/database/migrations/1752530200000-AddNotificationTables.ts
  apps/api/src/modules/notifications/entities/index.ts
  apps/api/src/modules/notifications/entities/notification-read.entity.ts
  apps/api/src/modules/notifications/entities/notification-settings.entity.ts
  apps/api/src/modules/notifications/entities/notification-template.entity.ts
  apps/api/src/modules/notifications/entities/notifications.entity.ts
  apps/api/src/modules/users/entities/user-settings.entity.ts
  apps/api/typeorm.config.ts
  apps/api/update-notifications-table.js
  apps/web/package.json
  apps/web/src/components/notifications/notification-center.tsx
  apps/web/src/components/notifications/notification-dashboard-v2.tsx
  apps/web/src/components/notifications/notification-dashboard.tsx
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/websocket-server.js
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, database

.
  apps/api/src/config/app.config.ts
  apps/api/src/main.ts
  apps/api/src/modules/admin/admin.module.ts
  apps/api/src/modules/admin/controllers/database-integrity.controller.ts
  apps/api/src/modules/admin/services/database-backup.service.ts
  apps/api/src/modules/admin/services/database-stats.service.ts
  apps/api/src/modules/notifications/notifications.module.ts
  apps/web/next.config.mjs
  apps/web/src/app/(dashboard)/admin/database/page.tsx
  apps/web/src/app/api/admin/database/backup/route.ts
  apps/web/src/app/api/admin/database/backups/[id]/download/route.ts
  apps/web/src/app/api/admin/database/backups/[id]/route.ts
  apps/web/src/app/api/admin/database/backups/route.ts
  apps/web/src/app/api/admin/database/integrity-report/route.ts
  apps/web/src/app/api/admin/database/optimize/route.ts
  apps/web/src/app/api/admin/database/restore/[id]/route.ts
  apps/web/src/app/api/admin/database/run-migrations/route.ts
  apps/web/src/app/api/admin/database/stats/route.ts
  apps/web/src/app/api/admin/database/synchronize/route.ts
  apps/web/src/app/api/admin/menu-config/tree/filtered/route.ts
  apps/web/src/components/providers/notifications-provider-old.tsx
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/src/utils/component-emitter-polyfill.js
  apps/web/src/utils/debug-polyfill.js
  apps/web/src/utils/engine-io-client-polyfill.js
  apps/web/src/utils/socket-io-parser-polyfill.js
  apps/web/src/utils/socket-io-url-polyfill.js
  package.json
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies

Fix hardcoded French text in settings and profile pages
  apps/web/src/app/(dashboard)/profile/page.tsx
  apps/web/src/app/(dashboard)/settings/appearance/page.tsx
  apps/web/src/app/(dashboard)/settings/notifications/page.tsx
  apps/web/src/app/(dashboard)/settings/security/page.tsx
  apps/web/src/lib/i18n/translations/fr.ts
Labels: frontend

.
  .claude/settings.local.json
  apps/web/create_datatable_hierarchical_preferences.sql
  apps/web/create_reorderable_preferences_tables.sql
  apps/web/package.json
  apps/web/scripts/inject-reorderable-schema.js
  apps/web/src/app/(dashboard)/settings/menu/page.tsx
  apps/web/src/app/api/admin/menu-config/active/route.ts
  apps/web/src/app/api/datatable/hierarchical-preferences/[tableId]/route.ts
  apps/web/src/app/api/datatable/hierarchy-order/[tableId]/route.ts
  apps/web/src/app/api/ui-preferences/reorderable-list/[componentId]/route.ts
  apps/web/src/app/api/user/menu-preferences/menu/route.ts
  apps/web/src/components/ClientOnly.tsx
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/components/ui/datatable/HierarchicalDataTable.tsx
  apps/web/src/components/ui/datatable/HierarchicalDataTableExample.tsx
  apps/web/src/components/ui/datatable/use-hierarchical-preferences.ts
  apps/web/src/components/ui/datatable/use-hierarchical-reorder.ts
  apps/web/src/components/ui/reorderable-list.tsx
  apps/web/src/components/ui/reorderable-list/index.ts
  apps/web/src/components/ui/reorderable-list/reorderable-list-customization-panel.tsx
  apps/web/src/components/ui/reorderable-list/reorderable-list-example.tsx
  apps/web/src/components/ui/reorderable-list/reorderable-list-theme.ts
  apps/web/src/components/ui/reorderable-list/reorderable-list-themes.ts
  apps/web/src/components/ui/reorderable-list/schema.sql
  apps/web/src/components/ui/reorderable-list/themed-reorderable-list.tsx
  apps/web/src/components/ui/reorderable-list/use-reorderable-config.ts
  apps/web/src/hooks/use-dynamic-menu.ts
  apps/web/src/hooks/use-menu-mode.ts
  package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/verify-package-consistency.js
Labels: frontend, documentation, configuration, dependencies, ci/cd

.
  .env.example
  README.md
  apps/api/src/config/app.config.ts
  apps/api/src/config/database.config.ts
  apps/api/src/config/env.config.ts
  apps/api/src/config/redis.config.ts
  apps/api/src/database/config/multi-tenant-database.config.ts
  apps/api/src/main-working.ts
  apps/api/src/main.ts.backup
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/web/next.config.mjs
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/api/v1/admin/users/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/lib/api.ts
  apps/web/src/lib/security.ts
  apps/web/src/lib/startup-logger.ts
  apps/web/src/styles/globals.css
  apps/web/src/utils/engine-io-client-polyfill.js
  apps/web/src/utils/socket-io-url-polyfill.js
  cookies.txt
  packages/api-client/src/projects/project-api.ts
  packages/config/src/index.ts
Labels: frontend, backend, documentation, configuration

Update table-selector.tsx
  apps/web/src/components/query-builder/table-selector.tsx
Labels: frontend

🔧 chore: update GitHub Actions to latest versions
  .github/workflows/dependencies.yml
  .github/workflows/pr-checks.yml
Labels: configuration, ci/cd

🔧 fix: mise à jour configuration Git/CI et correction erreur JSX
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  apps/web/src/app/(dashboard)/test-multi-tenant/page.tsx
Labels: frontend, configuration, ci/cd

🚀 feat: configuration complète de déploiement Proxmox
  .dockerignore
  .env.production
  .env.staging
  .github/workflows/ci.yml
  DEPLOYMENT.md
  Dockerfile.api
  Dockerfile.marketplace-api
  Dockerfile.marketplace-storefront
  Dockerfile.web
  Makefile
  apps/marketplace-storefront/next.config.mjs
  apps/web/next.config.mjs
  docker-compose.prod.yml
  scripts/check-turbo.js
  scripts/deploy.sh
  scripts/init-databases.sql
  scripts/setup-server.sh
Labels: frontend, documentation, configuration, ci/cd

🔧 fix: resolve false sync error popups in company selection
  apps/web/package.json
  apps/web/src/components/auth/company-selector.tsx
Labels: frontend, dependencies

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"
