Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

🔧 fix: handle 401 error gracefully in default company API
  apps/web/src/app/api/auth/user/default-company/route.ts
  apps/web/src/lib/auth/auth-provider.tsx
Labels: frontend

🔧 fix: resolve CI/CD pipeline errors
  apps/web/src/lib/i18n/translation-utils.ts
  package.json
  packages/ui/src/components/data-display/datatable/export-utils.ts
  packages/ui/src/components/data-display/datatable/export-utils.univerjs.ts
  packages/ui/src/components/data-display/reorderable-list/ReorderableList.tsx
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

🔧 fix: resolve hydration errors and infinite loading
  apps/web/src/components/admin/translation-admin.tsx
  packages/ui/src/components/primitives/tooltip/Tooltip.tsx
Labels: frontend

🔧 fix: add explicit triggerAsChild to SimpleTooltip buttons
  packages/ui/src/components/data-display/datatable/DataTable.tsx
Labels: frontend

🔧 fix: résolution complète des erreurs de types dans DataTable
  packages/ui/src/components/data-display/datatable/DataTable.tsx
  packages/ui/src/components/data-display/datatable/GenericCardEditor.tsx
  packages/ui/src/components/data-display/datatable/HierarchicalDataTable.tsx
  packages/ui/src/components/data-display/datatable/KanbanCardEditor.tsx
  packages/ui/src/components/data-display/datatable/export-utils.ts
  packages/ui/src/components/data-display/datatable/render-utils.ts
  packages/ui/src/components/data-display/datatable/types.ts
  packages/ui/src/components/data-display/datatable/validation-utils.ts
Labels: frontend

.
  biome-output.txt
  biome_current_errors.txt
  biome_errors_temp.txt
  biome_output.txt
  biome_results.txt
  find-unused-vars.js
  insert_ipe_profiles.sql
  ts_errors.txt
Labels: none

fix: resolve TypeScript errors in shared services and tenant provisioning controller
  apps/api/src/features/shared/services/shared-material.service.ts
  apps/api/src/features/shared/services/shared-process.service.ts
  apps/api/src/features/shared/services/shared-quality-standard.service.ts
  apps/api/src/features/shared/services/shared-supplier.service.ts
  apps/api/src/features/societes/controllers/tenant-provisioning.controller.ts
Labels: backend

🧹 Nettoyage des fichiers temporaires
  ARCHITECTURE_ANALYSIS.md
  GLOBAL_SEARCH_README.md
  IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_ROADMAP.md
  MENU_SYNC_IMPLEMENTATION.md
  MENU_SYSTEM_ARCHITECTURE.md
  NEW_ARCHITECTURE_README.md
  REFACTORING_TODO.md
  SEARCH_FIX_REPORT.md
  SEARCH_MODULE_IMPLEMENTATION.md
  SEARCH_SOLUTION_COMPLETE.md
  SEARCH_SYSTEM_README.md
  SEARCH_SYSTEM_REPORT.md
  SEARCH_URL_ARCHITECTURE.md
  SEARCH_VALIDATION_IMPLEMENTATION.md
  SECURITY_FIXES_REPORT.md
  check-menu-articles.sql
  clear-search-cache.html
  pricing-validation-report.json
  setup-global-search.bat
  start-pricing-system.bat
  test-all-menus.cjs
  test-articles-menu-search.cjs
  test-auth.py
  test-bcrypt.cjs
  test-search-cache-performance.cjs
  test-search-system.cjs
  validate-pricing.cjs
Labels: documentation, configuration

📚 Documentation et stabilisation de l'architecture
  ARCHITECTURE_MULTI_TENANT.md
Labels: documentation

📚 Documentation exhaustive de l'architecture
  ARCHITECTURE_MULTI_TENANT.md
  docs/README.md
  docs/architecture/multi-tenant.md
  docs/architecture/technical-overview.md
Labels: documentation

chore: complete Dependabot updates and CI/CD setup
  packages/domains/src/image/elasticsearch-service.ts
  pnpm-lock.yaml
Labels: configuration, dependencies

feat: add production deployment infrastructure
  .env.production.example
  CHANGELOG.md
  scripts/deploy.bat
Labels: documentation, configuration, ci/cd

chore: update TypeScript ESLint to 8.39.1
  apps/web/package.json
  packages/api-client/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
Labels: frontend, dependencies, types, utils

chore: update Storybook dependencies to 9.1.2
  apps/web/package.json
  packages/ui/package.json
Labels: frontend, dependencies

fix: TypeScript error in MigrationLoaderService
  apps/api/src/core/database/services/migration-loader.service.ts
Labels: backend

fix: resolve TypeScript visibility errors in API services
  .claude/settings.local.json
  apps/api/src/features/admin/services/menu-sync.service.ts
  apps/api/src/features/search/services/search-cache.service.ts
Labels: backend

feat: secure all dangerouslySetInnerHTML usage to prevent XSS vulnerabilities
  SECURITY_GUIDE_XSS.md
  apps/marketplace-storefront/package.json
  apps/marketplace-storefront/src/components/page-builder/sections/TextBlockSection.tsx
  apps/marketplace-storefront/src/components/product/product-detail.tsx
  apps/web/src/components/search/command-palette.tsx
  packages/ui/package.json
  packages/ui/src/components/data-display/datatable/DataTable.tsx
  packages/ui/src/components/data-display/datatable/InlineEditor.tsx
  packages/ui/src/components/data-display/datatable/RichTextEditor.tsx
  packages/ui/src/components/data-display/datatable/render-utils.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/security/dom-sanitizer.ts
Labels: frontend, documentation, dependencies

fix: partial TypeScript errors correction for CI/CD
  RAPPORT_CI_CD_ERREURS.md
  apps/api/src/infrastructure/security/rate-limiting/guards/combined-rate-limit.guard.ts
  packages/domains/src/image/elasticsearch-service.ts
Labels: backend, documentation

fix: resolve 98% of TypeScript compilation errors in API (592→10 errors)
  .claude/settings.local.json
  apps/api/src/domains/auth/external/controllers/mfa.controller.ts
  apps/api/src/domains/auth/services/mfa.service.ts
  apps/api/src/domains/auth/services/permission-query-builder.service.ts
  apps/api/src/domains/auth/services/sms.service.ts
  apps/api/src/domains/auth/services/user-societe-roles.service.ts
  apps/api/src/domains/auth/services/webauthn.service.ts
  apps/api/src/domains/core/base/business-service.ts
  apps/api/src/domains/inventory/controllers/article.controller.ts
  apps/api/src/domains/inventory/controllers/stock-movement.controller.ts
  apps/api/src/domains/inventory/repositories/stock-movement.repository.ts
  apps/api/src/domains/inventory/services/stock-movement.service.ts
  apps/api/src/domains/notifications/services/notification-rules-engine.service.ts
  apps/api/src/features/admin/controllers/admin-mfa.controller.ts
  apps/api/src/features/admin/controllers/admin-societes.controller.ts
  apps/api/src/features/marketplace/cdn/cloudflare-config.service.ts
  apps/api/src/features/marketplace/payment/stripe-payment.service.ts
  apps/api/src/features/marketplace/promotions/marketplace-promotions.service.ts
  apps/api/src/features/query-builder/entities/query-builder.entity.ts
  apps/api/src/features/query-builder/services/query-builder-executor.service.ts
  apps/api/src/infrastructure/security/rate-limiting/advanced-rate-limiting.service.ts
  apps/api/src/infrastructure/security/rate-limiting/controllers/rate-limiting-admin.controller.ts
  apps/api/src/infrastructure/security/rate-limiting/guards/advanced-rate-limit.guard.ts
  apps/api/src/infrastructure/security/rate-limiting/guards/combined-rate-limit.guard.ts
  apps/api/src/infrastructure/security/rate-limiting/guards/role-based-rate-limit.guard.ts
  apps/api/src/infrastructure/security/rate-limiting/guards/user-rate-limit.guard.ts
  apps/api/src/infrastructure/security/rate-limiting/types/index.ts
  apps/api/src/infrastructure/security/rate-limiting/types/rate-limiting.types.ts
  apps/api/src/types/auth/webauthn.types.ts
  apps/api/src/types/entities/societe.types.ts
  apps/api/src/types/entities/user.types.ts
  apps/api/src/types/index.ts
  apps/api/src/types/marketplace/marketplace.types.ts
  apps/api/src/types/notifications/notification.types.ts
  apps/api/src/types/query-builder/query-builder.types.ts
Labels: backend, database

fix: complete TypeScript error resolution without using 'any' types
  apps/api/src/domains/licensing/entities/license-feature.entity.ts
  apps/api/src/domains/licensing/entities/license.entity.ts
  apps/api/src/domains/materials/controllers/material-movement.controller.ts
  apps/api/src/domains/materials/controllers/material.controller.ts
  apps/api/src/domains/materials/entities/material.entity.ts
  apps/api/src/domains/materials/repositories/material-repository.impl.ts
  apps/api/src/domains/materials/services/material-movement.service.ts
  apps/api/src/domains/materials/services/material.service.ts
  apps/api/src/features/marketplace/entities/marketplace-order.entity.ts
  apps/api/src/features/societes/services/societes.service.ts
  apps/api/src/infrastructure/security/csrf/csrf-enhanced.service.ts
  apps/api/src/infrastructure/security/log-sanitization/log-sanitizer.service.ts
  packages/ui/src/components/business/dialogs/AddClientDialog/AddClientDialog.tsx
  packages/ui/src/components/business/dialogs/AddTaskDialog/AddTaskDialog.tsx
  packages/ui/src/components/business/dialogs/EditUserDialog/EditUserDialog.tsx
  packages/ui/src/components/data-display/datatable/ViewSelector.tsx
  packages/ui/src/components/data-display/datatable/formula-engine.ts
  packages/ui/src/components/data-display/datatable/use-data-views.ts
  packages/ui/src/components/data-display/reorderable-list/themed-reorderable-list.tsx
  packages/ui/src/components/layout/card/Card.tsx
  packages/ui/src/components/primitives/code-viewer-dialog/CodeViewerDialog.tsx
  packages/ui/src/components/primitives/dropdown-portal/DropdownPortal.tsx
  packages/ui/src/test/setup.ts
  packages/ui/src/utils/safe-math-eval.ts
Labels: frontend, backend, database

fix: continue TypeScript error resolution - progress from 259 to ~100 errors
  .claude/settings.local.json
  apps/api/src/domains/notifications/entities/notification-condition.entity.ts
  apps/api/src/domains/notifications/services/notification-condition-evaluator.service.ts
  apps/api/src/domains/partners/controllers/partner.controller.ts
  apps/api/src/domains/partners/entities/partner.entity.ts
  apps/api/src/domains/partners/repositories/partner-repository.impl.ts
  apps/api/src/domains/partners/services/partner-parameters-init.service.ts
  apps/api/src/features/search/services/cached-global-search.service.ts
  apps/api/src/features/search/services/elasticsearch-search.service.ts
  apps/api/src/features/search/services/search-cache-invalidation.service.ts
  apps/api/src/features/search/services/search-cache.service.ts
  apps/api/src/features/shared/services/shared-data-registry.service.ts
  apps/api/src/features/shared/services/shared-material.service.ts
  apps/api/src/features/shared/services/shared-process.service.ts
  apps/api/src/features/shared/services/shared-quality-standard.service.ts
  apps/api/src/features/shared/services/shared-supplier.service.ts
  apps/api/src/features/societes/entities/societe.entity.ts
  apps/api/src/features/societes/services/sites.service.ts
  apps/api/src/features/societes/services/societe-users.service.ts
  apps/api/src/features/societes/services/societes.service.ts
  scripts/fix-all-typescript-final.cjs
Labels: backend, ci/cd, database

fix: improve TypeScript type safety without using 'any' types
  apps/api/src/domains/materials/services/material-movement.service.ts
  apps/api/src/domains/notifications/services/notification-action-executor.service.ts
  apps/api/src/domains/notifications/types/notification-execution.types.ts
  apps/api/src/domains/partners/entities/partner.entity.ts
  apps/api/src/domains/partners/services/partner.service.ts
  apps/api/src/domains/users/dto/notification-settings.dto.ts
  apps/api/src/domains/users/users.controller.ts
  apps/api/src/features/societes/entities/societe-license.entity.ts
  apps/api/src/features/societes/entities/societe.entity.ts
  apps/api/src/features/societes/services/societes.service.ts
Labels: backend, database

fix: continue TypeScript error resolution with proper type interfaces
  apps/api/src/domains/users/dto/notification-settings.dto.ts
  apps/api/src/domains/users/users.controller.ts
  apps/api/src/features/admin/controllers/admin-users.controller.ts
  apps/api/src/features/admin/controllers/auth-performance.controller.ts
  apps/api/src/features/admin/controllers/database-integrity.controller.ts
  apps/api/src/features/admin/services/admin-roles.service.ts
  apps/api/src/features/query-builder/services/query-builder.service.ts
  apps/api/src/features/search/services/cached-global-search.service.ts
  apps/api/src/features/search/services/elasticsearch-search.service.ts
  apps/api/src/features/search/services/search-cache-invalidation.service.ts
Labels: backend

fix: resolve critical TypeScript errors in admin services and controllers
  TYPESCRIPT_FIXES_STATUS.md
  apps/api/src/features/admin/controllers/auth-performance.controller.ts
  apps/api/src/features/admin/controllers/database-integrity.controller.ts
  apps/api/src/features/admin/services/admin-roles.service.ts
  apps/api/src/features/admin/services/database-backup.service.ts
  apps/api/src/features/query-builder/services/query-builder.service.ts
  apps/api/src/features/search/services/search-cache-invalidation.service.ts
Labels: backend, documentation

fix: resolve additional TypeScript errors across multiple modules
  .claude/settings.local.json
  TYPESCRIPT_FIXES_STATUS.md
  apps/api/src/features/admin/entities/menu-configuration.entity.ts
  apps/api/src/features/admin/entities/user-menu-item-preference.entity.ts
  apps/api/src/features/admin/entities/user-menu-preferences.entity.ts
  apps/api/src/features/admin/services/menu-configuration.service.ts
  apps/api/src/features/admin/services/user-menu-preferences.service.ts
  apps/api/src/features/admin/system-parameters.controller.ts
  apps/api/src/features/admin/system-parameters.service.ts
  apps/api/src/features/marketplace/adapters/marketplace-customer.adapter.ts
  apps/api/src/features/marketplace/adapters/marketplace-product.adapter.ts
  apps/api/src/features/marketplace/admin/marketplace-dashboard.service.ts
Labels: backend, documentation, database

fix: resolve all TypeScript errors in API services
  TYPESCRIPT_FIXES_STATUS.md
  apps/api/src/features/marketplace/admin/order-moderation.service.ts
  apps/api/src/features/marketplace/admin/product-catalog.controller.ts
  apps/api/src/features/marketplace/admin/product-catalog.service.ts
  apps/api/src/features/marketplace/admin/shop-configuration.controller.ts
  apps/api/src/features/marketplace/admin/shop-configuration.service.ts
  apps/api/src/features/marketplace/auth/guards/marketplace-auth.guard.ts
  apps/api/src/features/marketplace/auth/guards/marketplace-permissions.guard.ts
  apps/api/src/features/marketplace/cdn/edge-worker.service.ts
  apps/api/src/features/marketplace/controllers/erp-integration.controller.ts
  apps/api/src/features/marketplace/marketplace.module.ts
  apps/api/src/features/marketplace/migration/marketplace-to-erp-migration.service.ts
  apps/api/src/features/marketplace/monitoring/sentry.config.ts
  apps/api/src/features/marketplace/monitoring/sentry.interceptor.ts
  apps/api/src/features/marketplace/orders/marketplace-order-workflow.service.ts
  apps/api/src/features/marketplace/processors/marketplace-sync.processor.ts
  apps/api/src/features/marketplace/promotions/marketplace-promotions.controller.ts
  apps/api/src/features/marketplace/services/module-registry.service.ts
  apps/api/src/features/marketplace/shipping/marketplace-shipping.controller.ts
  apps/api/src/features/marketplace/shipping/marketplace-shipping.service.ts
  apps/api/src/features/marketplace/webhooks/webhook.service.ts
  apps/api/src/features/notifications/services/notification-rule-engine.service.ts
  apps/api/src/features/notifications/services/notification-rule.service.ts
  apps/api/src/features/parameters/services/parameter.service.ts
  apps/api/src/features/pricing/controllers/price-rules.controller.ts
  apps/api/src/features/pricing/controllers/pricing-quote.controller.ts
  apps/api/src/features/pricing/graphql/pricing.resolver.ts
  apps/api/src/features/pricing/services/pricing-analytics.service.ts
  apps/api/src/features/query-builder/security/query-builder-security.guard.ts
  apps/api/src/features/query-builder/services/query-builder.service.ts
  apps/api/src/features/search/services/cached-global-search.service.ts
Labels: backend, documentation

fix: partial TypeScript fixes for pricing and notification services
  apps/api/src/features/pricing/graphql/pricing.resolver.ts
  apps/api/src/features/pricing/services/pricing-cache.service.ts
  apps/api/src/features/pricing/services/pricing-ml.service.ts
  apps/api/src/features/pricing/types/pricing-engine.types.ts
Labels: backend

fix: improve TypeScript type safety with proper interfaces and validation
  apps/api/src/features/marketplace/admin/product-catalog.controller.ts
  apps/api/src/features/marketplace/admin/shop-configuration.service.ts
  apps/api/src/features/marketplace/controllers/erp-integration.controller.ts
  apps/api/src/features/marketplace/marketplace.module.ts
  apps/api/src/features/marketplace/migration/marketplace-to-erp-migration.service.ts
Labels: backend

fix: achieve zero TypeScript errors with proper type safety
  apps/api/src/features/marketplace/admin/shop-configuration.service.ts
  apps/api/src/features/notifications/services/notification-rule.service.ts
  apps/api/src/features/pricing/services/pricing-webhooks.service.ts
  apps/api/src/features/query-builder/controllers/query-builder.controller.ts
  apps/api/src/features/query-builder/dto/create-query-builder.dto.ts
  apps/api/src/features/query-builder/services/query-builder-permission.service.ts
  apps/api/src/features/query-builder/services/query-builder.service.ts
Labels: backend

.
  apps/api/src/features/marketplace/admin/order-moderation.service.ts
  apps/api/src/features/marketplace/admin/product-catalog.service.ts
  apps/api/src/features/marketplace/admin/shop-configuration.controller.ts
  apps/api/src/features/marketplace/admin/shop-configuration.service.ts
  apps/api/src/features/marketplace/auth/guards/marketplace-auth.guard.ts
  apps/api/src/features/marketplace/auth/guards/marketplace-permissions.guard.ts
  packages/ui/src/components/business/filters/DateRangeFilter/DateRangeFilter.tsx
  packages/ui/src/components/business/forms/CategorySelector/CategorySelector.tsx
  packages/ui/src/components/business/forms/DeadlinePicker/DeadlinePicker.tsx
  packages/ui/src/components/business/forms/SkillsTagInput/SkillsTagInput.tsx
  packages/ui/src/components/business/forms/WorkingHoursPicker/WorkingHoursPicker.tsx
  packages/ui/src/components/data-display/datatable/CustomSelect.tsx
  packages/ui/src/utils/safe-expression-evaluator.ts
Labels: frontend, backend

ci: trigger rebuild with TypeScript fixes
  .github/.trigger
Labels: configuration

fix: update Node.js and pnpm versions in GitHub Actions workflows
  .github/workflows/auto-deploy-test.yml
  .github/workflows/build-continuous.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependencies.yml
  .github/workflows/dependency-update.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/quality-continuous.yml
  .github/workflows/security-continuous.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-coverage.yml
Labels: configuration, ci/cd

fix: resolve CI/CD pipeline failures and test script issues
  .claude/settings.local.json
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/test-runner.yml
  apps/web/src/hooks/__tests__/placeholder.test.ts
  apps/web/src/hooks/__tests__/use-articles.test.tsx
  apps/web/src/stores/__tests__/auth.store.test.tsx
  apps/web/src/stores/__tests__/placeholder.test.ts
  apps/web/src/test/setup.ts
  apps/web/vitest.config.ts
Labels: frontend, tests, configuration, ci/cd

fix: remove uploads module from build config
  packages/ui/src/components/business/index.ts
  packages/ui/vite.config.mts
Labels: frontend

fix: resolve final CI/CD issues
  packages/ui/src/components/data-display/datatable/__tests__/performance.test.tsx
  packages/ui/src/components/layout/separator/index.ts
Labels: frontend, tests

fix: optimize CI/CD memory usage for builds
  .claude/settings.local.json
  .github/workflows/build-continuous.yml
  .github/workflows/ci.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/quality-continuous.yml
  .github/workflows/test-runner.yml
  packages/domains/package.json
  pnpm-lock.yaml
Labels: configuration, dependencies, ci/cd

fix: restore lockfile without cross-env dependency
  .claude/settings.local.json
Labels: none

fix: rebuild lockfile without cross-env dependency
  pnpm-lock.yaml
Labels: configuration, dependencies

fix: increase CI/CD memory allocation and optimize builds
  .github/workflows/auto-deploy-test.yml
  .github/workflows/build-continuous.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/codeql.yml
  .github/workflows/dependencies.yml
  .github/workflows/dependency-update.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/pr-checks.yml
  .github/workflows/quality-continuous.yml
  .github/workflows/release.yml
  .github/workflows/security-continuous.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-runner.yml
  packages/domains/tsup.config.ts
Labels: configuration, ci/cd

fix: fix syntax error in domains tsup config
  packages/domains/tsup.config.ts
Labels: none

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"
