Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

.
  apps/api/package.json
  apps/web/src/hooks/use-toast.ts
  packages/types/src/components.ts
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, types

.
  .env.example
  apps/api/src/app.module.ts
  apps/api/src/common/services/redis.service.ts
  apps/api/src/modules/auth/services/jwt-utils.service.ts
  apps/api/src/redis/redis.module.ts
  apps/web/src/app/globals.css
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/src/components/ui/tabs.tsx
  packages/types/src/components.ts
  packages/types/src/index.ts
  packages/ui/src/components/card/card.tsx
  packages/ui/src/components/card/index.ts
  packages/ui/src/lib/utils.ts
Labels: frontend, backend, configuration, types

.
  apps/web/jest.config.cjs
  apps/web/jest.config.js
  apps/web/jest.setup.js
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/charts/mouvements-chart.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/providers/hydration-provider.tsx
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/components/ui/theme-switcher.tsx
  apps/web/src/hooks/use-global-state-ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/monitoring.ts
  apps/web/src/lib/performance.ts
  apps/web/src/lib/security.ts
  apps/web/src/lib/test-utils.tsx
  apps/web/src/stores/app.store.ts
  apps/web/src/types/stock.ts
  apps/web/test-theme.html
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

.
  package.json
  pnpm-lock.yaml
Labels: configuration, dependencies

.
  apps/api/src/common/repositories/base.repository.ts
  apps/api/src/config/unified.config.ts
  packages/utils/src/validation/schemas.ts
Labels: backend, utils

Add enhanced security, performance, and business metrics modules
  apps/api/src/common/logger/structured-logger.service.ts
  apps/api/src/common/middleware/enhanced-security.middleware.ts
  apps/api/src/common/services/structured-logger.service.ts
  apps/web/.eslintrc.enhanced.json
  apps/web/package.json
  apps/web/src/__tests__/performance.test.ts
  apps/web/src/__tests__/performance/performance.test.ts
  apps/web/src/__tests__/security.test.ts
  apps/web/src/__tests__/security/security.test.ts
  apps/web/src/app/layout.tsx
  apps/web/src/components/error-boundary.tsx
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-devis-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  apps/web/src/components/ui/projet-card.tsx
  apps/web/src/hooks/performance/use-performance.ts
  apps/web/src/hooks/use-global-state.ts
  apps/web/src/hooks/use-performance-monitoring.ts
  apps/web/src/hooks/use-projets.ts
  apps/web/src/hooks/use-secure-validation.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/business-metrics.ts
  apps/web/src/lib/monitoring/business-metrics.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/security-enhanced.ts
  apps/web/src/lib/security.ts
  apps/web/src/lib/security/security-enhanced.ts
  apps/web/src/services/projet.service.ts
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/stores/selectors/app.selectors.ts
  apps/web/tsconfig.strict.json
  pnpm-lock.yaml
Labels: frontend, backend, tests, configuration, dependencies

Update package.json
  apps/api/package.json
Labels: backend, dependencies

.
  apps/web/src/app/global.css.backup
  apps/web/src/app/layout.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/components/projets/projet-devis-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/providers/monitoring-provider.tsx
  apps/web/src/hooks/performance/use-performance.ts
  apps/web/src/hooks/use-web-vitals.ts
  apps/web/src/lib/api-client.ts
Labels: frontend

.
  apps/api/src/common/logger/structured-logger.service.ts
  apps/api/src/common/repositories/base.repository.ts
Labels: backend

.
  apps/api/src/common/cache/redis-optimized.service.ts
  apps/api/src/common/middleware/enhanced.middleware.ts
  apps/web/src/hooks/use-optimized-query.ts
  apps/web/tsconfig.json.backup
  packages/config/src/index.ts
  packages/types/src/generated.ts
  packages/utils/src/index.ts.backup
  turbo.json.backup
Labels: frontend, backend, types, utils

.
  apps/api/src/common/cache/redis-optimized.service.ts
  apps/api/src/common/logger/structured-logger.service.ts
  apps/api/src/common/middleware/enhanced.middleware.ts
  apps/api/src/common/repositories/base.repository.ts
  apps/api/src/common/utils/entity.utils.ts
  apps/api/src/types/express.d.ts
  apps/api/tsconfig.json
  apps/web/src/__tests__/performance.test.ts
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/components/charts/mouvements-chart.tsx
  apps/web/src/components/devtools-wrapper.tsx
  apps/web/src/components/providers.tsx
  apps/web/src/components/stocks/create-mouvement-dialog.tsx
  apps/web/src/components/stocks/mouvements-table.tsx
  apps/web/src/components/ui/upload-file.tsx
  apps/web/src/hooks/use-performance-monitoring.ts
  apps/web/src/hooks/use-toast.ts
  apps/web/src/lib/monitoring.ts
  apps/web/src/lib/performance.ts
  apps/web/src/lib/test-utils.tsx
  apps/web/src/services/projet.service.ts
  packages/types/src/components.ts
  packages/ui/tsconfig.json
Labels: frontend, backend, tests, types

.
  apps/api/src/common/cache/redis-optimized.service.ts
  apps/web/src/app/globals.css
  apps/web/src/components/error-boundary.tsx
  apps/web/src/hooks/use-auth.ts
  apps/web/tailwind.config.js
  packages/config/tailwind/base.cjs
  packages/config/tailwind/web.cjs
  turbo.json
Labels: frontend, backend, configuration

.
  apps/web/src/components/facturation/create-facture-dialog.tsx
  apps/web/src/components/notifications/notification-center.tsx
  apps/web/src/components/notifications/notification-settings.tsx
  apps/web/src/components/production/ordre-info-tab.tsx
  apps/web/src/components/production/ordre-materiaux-tab.tsx
  apps/web/src/components/production/planning-calendar.tsx
  apps/web/src/components/production/planning-gantt.tsx
  apps/web/src/components/production/production-table.tsx
  apps/web/src/components/projets/projet-devis-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/providers/monitoring-provider.tsx
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/components/stocks/chutes-optimizer.tsx
  apps/web/src/components/stocks/chutes-stats.tsx
  apps/web/src/types/ui-stubs.d.ts
Labels: frontend, types

.
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/components/production/production-filters.tsx
  apps/web/src/components/stocks/add-material-dialog.tsx
  apps/web/src/components/stocks/mouvements-chart.tsx
  apps/web/src/components/stocks/mouvements-table.tsx
  apps/web/src/components/stocks/stocks-filters.tsx
  apps/web/src/components/ui/charts.tsx
  apps/web/src/components/ui/data-table.tsx
  apps/web/src/components/ui/theme-switcher.tsx
  apps/web/src/hooks/use-auth.ts
  apps/web/src/hooks/use-design-system.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/security-enhanced.ts
  apps/web/src/lib/security.ts
  apps/web/src/lib/security/security-enhanced.ts
  apps/web/src/stores/index.ts
Labels: frontend

.
  apps/web/src/app/globals.css
  apps/web/src/components/ui/accordion.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/checkbox.tsx
  apps/web/src/components/ui/collapsible.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/data-table.tsx
  apps/web/src/components/ui/date-range-picker.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/projet-card.tsx
  apps/web/src/components/ui/toast-container.tsx
  apps/web/src/components/ui/toast.tsx
  apps/web/src/hooks/use-confirm.ts
  apps/web/src/hooks/use-design-system.ts
  package.json
  packages/types/src/guards.ts
  packages/types/src/index.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/design-system.ts
  packages/ui/src/lib/utils.ts
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies, types

.
  apps/web/src/app/globals.css
  apps/web/src/app/providers.tsx
  apps/web/src/components/notifications/notification-center.tsx
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/src/components/ui/toaster.tsx
  apps/web/src/hooks/use-notifications.ts
  apps/web/src/hooks/use-optimized-query.ts
  apps/web/src/hooks/use-secure-validation.ts
  apps/web/src/hooks/use-toast.ts
  apps/web/src/hooks/use-ui.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/api.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
Labels: frontend

.
  apps/web/src/app/providers.tsx
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/hooks/use-clients.ts
  apps/web/src/hooks/use-design-system.ts
  apps/web/src/lib/id-system.ts
  package.json
  packages/ui/package.json
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/toast-provider.tsx
  packages/ui/src/hooks/use-toast.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/cn.ts
  packages/ui/src/lib/utils.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

.
  apps/web/src/app/providers.tsx
  apps/web/src/components/devtools-wrapper.tsx
  apps/web/src/hooks/use-clients.ts
  apps/web/src/hooks/use-design-system.ts
  apps/web/src/lib/id-system.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/types/augmentation.ts
  apps/web/types/index.ts
  packages/types/src/global.ts
  packages/types/src/index.ts
Labels: frontend, types

.
  apps/web/src/hooks/performance-hooks.ts
  apps/web/src/hooks/use-projets.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/performance-monitor.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/services/auth.service.ts
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/auth.store.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/stores/selectors/app.selectors.ts
Labels: frontend

.
  apps/web/src/hooks/use-projets.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/index.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/stores/selectors/app.selectors.ts
  packages/types/src/global.ts
  packages/types/src/index.ts
  packages/types/src/store.ts
Labels: frontend, types

.
  apps/web/src/lib/store-utils.ts
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/auth.store.ts
  apps/web/src/stores/projet.store.ts
  packages/types/src/index.ts
  packages/types/src/projet.ts
  packages/types/src/store-entities.ts
  packages/types/src/store.ts
  packages/types/src/stores.ts
Labels: frontend, types

.
  apps/web/src/lib/store-utils.ts
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/auth.store.ts
  apps/web/src/stores/index.ts
  apps/web/src/stores/projet.store.ts
Labels: frontend

.
  apps/web/src/app/(dashboard)/stock/mouvements/layout.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/components/client-only.tsx
  apps/web/src/components/monitoring-initializer.tsx
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/hooks/use-global-state.ts
  apps/web/src/lib/optimized-selectors.ts
  apps/web/src/lib/performance-monitor.ts
  apps/web/src/stores/app.store.ts
  apps/web/src/stores/index.ts
  apps/web/src/stores/selectors/app.selectors.ts
  apps/web/types/augmentation.ts
  package.json
  packages/config/src/index.ts
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

.
  .env.example
  apps/web/next.config.js
  apps/web/src/app/(dashboard)/error.tsx
  apps/web/src/app/(dashboard)/facturation/factures/layout.tsx
  apps/web/src/app/(dashboard)/facturation/factures/page.tsx
  apps/web/src/app/(dashboard)/facturation/paiements/layout.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/page.tsx
  apps/web/src/app/(dashboard)/projets/nouveau/layout.tsx
  apps/web/src/app/(dashboard)/projets/nouveau/page.tsx
  apps/web/src/app/(dashboard)/stock/chutes/layout.tsx
  apps/web/src/app/(dashboard)/stock/chutes/page.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/layout.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/app/global-error.tsx
  apps/web/src/app/loading.tsx
  apps/web/src/components/client-only.tsx
  apps/web/src/lib/business-metrics.ts
  apps/web/src/lib/ssr-utils.ts
  package.json
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

.
  apps/web/.eslintrc.js
  apps/web/.eslintrc.json
  apps/web/components.json
  apps/web/next.config.js
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/register/layout.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/components/client-only.tsx
  apps/web/src/styles/globals.css
  apps/web/tsconfig.json
Labels: frontend

.
  apps/api/eslint.config.mjs
  apps/api/nest-cli.json
  apps/api/package.json
  apps/api/src/app.controller.spec.ts
  apps/api/src/modules/auth/guards/jwt-auth.guard.ts
  apps/api/src/modules/auth/guards/jwt.guard.ts
  apps/api/src/modules/production/dto/update-ordre-fabrication.dto.ts
  apps/api/tsconfig.json
  apps/api/webpack.config.js
  apps/web/eslint.config.mjs
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/src/hooks/use-notifications.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  apps/web/tsconfig.test.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Labels: frontend, backend, tests, configuration, dependencies

.
  apps/api/nest-cli.json
  apps/api/package.json
  apps/api/src/common/filters/global-exception.filter.ts
  apps/api/src/common/utils/entity.utils.ts
  apps/api/src/config/https.config.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dto/change-password.dto.ts
  apps/api/src/modules/auth/interfaces/jwt-payload.interface.ts
  apps/api/src/modules/auth/services/jwt-utils.service.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.ts
  apps/api/src/modules/production/dto/create-ordre-fabrication.dto.ts
  apps/api/src/modules/production/entities/ordre-fabrication.entity.ts
  apps/api/src/modules/production/ordre-fabrication.controller.ts
  apps/api/src/modules/production/ordre-fabrication.service.ts
  apps/api/src/modules/users/entities/user.entity.ts
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/tsconfig.json
  apps/api/webpack.config.js
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/auth/register/layout.tsx
  apps/web/src/app/auth/register/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/tsconfig.json
  packages/config/typescript/base.json
Labels: frontend, backend, dependencies, database

.
  apps/web/components.json
  apps/web/next.config.js
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/layout.tsx
Labels: frontend

.
  apps/web/src/app/layout.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/components/ui/sonner.tsx
  apps/web/src/components/ui/toaster.tsx
Labels: frontend

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: configuration, dependencies

.
  apps/web/package.json
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/providers.tsx
  apps/web/src/components/providers.tsx
  apps/web/src/components/ui/toast.tsx
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.js
  apps/web/test-tailwind.html
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

.
  apps/web/src/app/register/page.tsx
  apps/web/src/components/auth/AuthProvider.tsx
  apps/web/src/components/ui/data-table.tsx
  apps/web/src/hooks/performance-hooks.ts
  apps/web/src/hooks/use-toast.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/business-metrics.ts
  apps/web/src/lib/id-system.ts
  apps/web/src/lib/performance-monitor.ts
  apps/web/src/lib/security/security-enhanced.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/stores/auth.store.ts
Labels: frontend

.
  apps/api/package.json
  apps/api/tsconfig.json
  apps/api/tsup.config.ts
  apps/web/jest.config.js
  apps/web/next.config.js
  apps/web/package.json
  apps/web/tsconfig.json
  jest.config.cjs
  package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: frontend, backend, configuration, dependencies

.
  apps/web/tsconfig.json
  packages/ui/.eslintrc.json
  packages/ui/.storybook/tsconfig.json
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/types/common.ts
  packages/ui/src/types/index.ts
  packages/ui/tsconfig.json
  turbo.json
Labels: frontend, configuration

.
  apps/api/jest.config.cjs
  apps/web/src/lib/ssr-utils.ts
  package.json
  packages/types/package.json
  packages/ui/.eslintrc.json
  packages/ui/eslint.config.js
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/scripts/check-eslint.mjs
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/toast-provider.tsx
  packages/ui/src/hooks/use-toast.ts
  packages/ui/src/types/components.ts
  packages/ui/tsconfig.json
Labels: frontend, backend, configuration, dependencies, types

.
  apps/web/.eslintrc.js
  apps/web/src/__tests__/example.test.tsx
Labels: frontend, tests

.
  apps/api/eslint.config.mjs
  apps/web/.eslintrc.js
  apps/web/eslint.config.mjs
  apps/web/src/types/ui-stubs.d.ts
  eslint.config.mjs
  package.json
  packages/config/eslint/base.js
  packages/config/eslint/next.js
  packages/types/eslint.config.js
  packages/utils/eslint.config.js
Labels: frontend, backend, configuration, dependencies, types, utils

Update biome.json
  biome.json
Labels: configuration

.
  packages/ui/src/components/data-display/badge/Badge.tsx
  packages/ui/src/components/data-display/progress/progress.tsx
  packages/ui/src/components/forms/label/Label.tsx
  packages/ui/src/components/layout/card/Card.tsx
  packages/ui/src/components/layout/separator/separator.tsx
  packages/ui/src/components/navigation/tabs/Tabs.tsx
  packages/ui/src/components/primitives/button/Button.tsx
  packages/ui/src/components/primitives/input/Input.tsx
  packages/ui/src/components/primitives/textarea/Textarea.tsx
Labels: frontend

.
  apps/web/next.config.mjs
Labels: frontend

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"
