Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"

.
  .eslintrc.json
  apps/api/.eslintrc.json
  apps/api/package.json
  apps/web/components.json
  apps/web/package.json
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/app/(dashboard)/production/production.tsx
  apps/web/src/components/layout/sidebar.tsx.backup.20250626-180035
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/store/index.ts
  apps/web/src/store/slices/projet.slice.ts
  apps/web/src/store/slices/stock.slice.ts
  package.json
  packages/ui/src/data-table/index.tsx
  packages/ui/src/index.ts
  packages/ui/src/input/index.tsx
  packages/ui/src/lib/utils.ts
  packages/ui/src/page-header/index.tsx
  packages/ui/src/projet-card/index.tsx
  packages/ui/src/select/index.tsx
  packages/ui/src/switch/index.tsx
  packages/ui/src/tabs/index.tsx
  packages/ui/src/toaster/index.tsx
  pnpm-lock.yaml
  sql_backup/requêtes_utiles.sql
  sql_backup/script.sql
  turbo.json
Labels: frontend, backend, configuration, dependencies

.
  .npmrc
  apps/web/package.json
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  package.json
  packages/ui/package.json
  packages/ui/src/lib/utils.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

Refactor UI build config and add module support
  packages/ui/package.json
  packages/ui/tsconfig.build.json
  packages/ui/vite.config.mts
  packages/ui/vite.config.simple.mts
Labels: frontend, dependencies

.
  apps/web/.eslint-ci-override.txt
  apps/web/eslint.config.mjs
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-devis-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
Labels: frontend

.
  apps/api/src/modules/machines/machines.service.ts
  apps/api/src/modules/maintenance/maintenance.service.ts
  apps/api/src/modules/materiaux/materiaux.service.ts
  apps/api/src/modules/planning/planning.service.ts
  apps/api/src/modules/qualite/qualite.service.ts
  apps/api/src/modules/tracabilite/tracabilite.service.ts
Labels: backend

Fix query fields and logging in service methods
  apps/api/src/modules/machines/machines.service.ts
  apps/api/src/modules/maintenance/maintenance.service.ts
  apps/api/src/modules/materiaux/materiaux.service.ts
  apps/api/src/modules/planning/planning.service.ts
  apps/api/src/modules/qualite/qualite.service.ts
  apps/api/src/modules/tracabilite/tracabilite.service.ts
  pnpm-lock.yaml
Labels: backend, configuration, dependencies

Rename Login.dto.ts to login.dto.ts
  apps/api/src/modules/auth/dto/login.dto.ts
Labels: backend

Update app.controller.spec.ts
  apps/api/src/app.controller.spec.ts
Labels: backend, tests

Update turbo.json
  turbo.json
Labels: configuration

Update not-found.tsx
  apps/web/src/app/not-found.tsx
Labels: frontend

Update ci.yml
  .github/workflows/ci.yml
Labels: configuration, ci/cd

fix: correct CI YAML indentation
  .github/workflows/ci.yml
Labels: configuration, ci/cd

.
  apps/web/src/app/not-found.tsx
  apps/web/src/lib/utils.ts
Labels: frontend

.
  apps/web/next.config.js
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  packages/types/src/constants.ts
  packages/types/src/devis.ts
  packages/types/src/production.ts
Labels: frontend, types

.
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  packages/types/src/index.ts
  packages/types/src/production.ts
Labels: frontend, types

.
  packages/types/src/index.ts
  packages/types/src/index.ts.backup
  packages/types/src/index.ts.backup-final
Labels: types

.
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  packages/types/package.json
  packages/types/src/constants.ts
  packages/types/src/index.ts
  packages/types/src/projet.ts
Labels: frontend, dependencies, types

.
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/data-table.tsx
  apps/web/src/components/ui/page-header.tsx
  apps/web/src/components/ui/projet-card.tsx
  apps/web/src/hooks/use-projets.ts
  apps/web/src/store/index.ts
  apps/web/src/store/slices/projet.slice.ts
  apps/web/src/store/slices/stock.slice.ts
  apps/web/src/types/index.ts
  apps/web/src/types/projet.ts
  apps/web/tsconfig.json
  packages/types/src/auth.ts
  packages/types/src/index.ts
  packages/types/src/projet.ts
  packages/types/src/user.ts
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies, types

Update package.json
  packages/types/package.json
Labels: dependencies, types

Update dependencies.yml
  .github/workflows/dependencies.yml
Labels: configuration, ci/cd

Add new feature to user dashboard
  apps/api/src/common/decorators/current-user.decorator.ts
  apps/api/src/common/decorators/public.decorator.ts
  apps/api/src/config/env.config.ts
  apps/api/src/config/jwt.config.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dto/change-password.dto.ts
  apps/api/src/modules/auth/dto/login.dto.ts
  apps/api/src/modules/auth/guards/jwt-auth.guard.ts
  apps/api/src/modules/auth/services/jwt-utils.service.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.ts
  apps/api/src/modules/auth/strategies/local.strategy.ts
  apps/api/src/modules/users/users.module.ts
  apps/api/src/modules/users/users.service.ts
  packages/types/src/api.ts
  scripts/setup-erp.ps1
  scripts_backup/full-setup.sh
  scripts_backup/quick-start.sh
Labels: backend, types, ci/cd

clean
  scripts_backup/check-deps.js
  scripts_backup/check-environment.ps1
  scripts_backup/check-environment.sh
  scripts_backup/debug-info.js
  scripts_backup/deploy.sh
  scripts_backup/deps-dashboard.js
  scripts_backup/dev-setup.sh
  scripts_backup/full-setup.ps1
  scripts_backup/full-setup.sh
  scripts_backup/manage-db.ps1
  scripts_backup/postgres-diagnostic.ps1
  scripts_backup/quick-start.sh
  scripts_backup/setup-jest.ps1
  scripts_backup/setup-postgres.ps1
  scripts_backup/setup-windows.ps1
  scripts_backup/update-deps.js
  scripts_backup/validate-env.js
Labels: none

clean
  .vscode/keybindings.json
  .vscode/tasks.json
  apps/api/src/database/data-source.ts
  apps/api/src/database/migrations/1700000000000-InitialSchema.ts
  package.json
  scripts/manage-db.ps1
  scripts/setup-erp.ps1
  sql/indexes/01-performance-indexes.sql
  sql/maintenance/01-cleanup-scripts.sql
  sql/schemas/01-main-schema.sql
  sql/seeds/01-sample-data.sql
  sql/triggers/01-audit-triggers.sql
  sql/views/01-business-views.sql
Labels: backend, configuration, dependencies, ci/cd, database

Update package.json
  package.json
Labels: configuration, dependencies

Update dependences
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/config/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, types, utils

💾 Sauvegarde avant migration Tailwind v4
  apps/web/package.json
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/base.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/packages/config/tailwind/package.json
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/packages/config/tailwind/web.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/postcss.config.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/globals.css
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/tailwind-config.ts
  backups/tailwind-v4-20250628-111826/apps/web/tailwind.config.js
  packages/config/package.json
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

upgrade
  apps/api/package.json
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/globals.css
  apps/web/tailwind-config.ts
  apps/web/tailwind.config.js
  packages/config/package.json
  packages/config/tailwind/base.js
  packages/config/tailwind/web.js
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, types, utils

Revert "💾 Sauvegarde avant migration Tailwind v4"
  apps/web/package.json
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/base.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/packages/config/tailwind/package.json
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/packages/config/tailwind/web.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/postcss.config.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/globals.css
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/tailwind-config.ts
  backups/tailwind-v4-20250628-111826/apps/web/tailwind.config.js
  packages/config/package.json
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

Update package.json
  package.json
Labels: configuration, dependencies

.
  apps/web/src/app/globals.css
  apps/web/tailwind.config.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/base.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/packages/config/tailwind/package.json
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/packages/config/tailwind/packages/config/tailwind/web.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/apps/web/postcss.config.js
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/apps/web/src/app/globals.css
  backups/tailwind-v4-20250628-111826/apps/web/apps/web/tailwind-config.ts
  backups/tailwind-v4-20250628-111826/apps/web/tailwind.config.js
  packages/config/tailwind/base.cjs
  packages/config/tailwind/base.css
  packages/config/tailwind/web.cjs
Labels: frontend, dependencies

Update tailwind.config.js
  apps/web/tailwind.config.js
Labels: frontend

.
  jest.config.cjs
Labels: none

Refactor monorepo test setup and configs for integration
  apps/api/jest.config.cjs
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/__tests__/api.integration.test.ts
  apps/api/src/__tests__/example.integration.test.ts
  apps/api/src/app.controller.spec.ts
  apps/api/test/setup.ts
  apps/api/tsconfig.json
  apps/web/jest.config.cjs
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/__tests__/example.integration.test.tsx
  apps/web/src/__tests__/web.integration.test.tsx
  jest.config.cjs
  package.json
  packages/config/package.json
  packages/config/tsconfig.json
  packages/types/jest.config.cjs
  packages/types/package.json
  packages/types/src/__tests__/simple.test.ts
  packages/types/src/__tests__/types.test.ts
  packages/ui/package.json
  packages/utils/jest.config.cjs
  packages/utils/package.json
  packages/utils/src/__tests__/simple.test.ts
  packages/utils/src/__tests__/utils.test.ts
  test/monorepo.integration.test.ts
  tsconfig.json
  turbo.json
Labels: frontend, backend, tests, configuration, dependencies, types, utils

.
  packages/types/eslint.config.js
  packages/types/eslint.config.js.bak
  packages/types/tsconfig.test.json
Labels: types

.
  packages/types/src/api.ts
  packages/types/src/devis.ts
  packages/types/src/projet.ts
Labels: types

Remove utils package test files
  packages/utils/src/__tests__/simple.test.ts
  packages/utils/src/__tests__/utils.test.ts
Labels: tests, utils

Refactor type usage and imports for consistency
  apps/api/src/config/https.config.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.ts
  apps/api/test/auth.e2e-spec.ts
  apps/api/test/projets.e2e-spec.ts
  apps/api/tsconfig.json
  packages/utils/src/index.ts
  packages/utils/src/lib/functions.ts
Labels: backend, utils

Refactor ESLint config and improve utils typings
  apps/api/.eslintrc.json
  apps/api/eslint.config.js
  apps/api/package.json
  packages/utils/src/helpers/array.ts
  packages/utils/src/lib/functions.ts
  packages/utils/src/validation/security-schemas.ts
  pnpm-lock.yaml
Labels: backend, configuration, dependencies, utils

.
  apps/web/src/app/(dashboard)/projets/[id]/page.tsx
  apps/web/src/app/(dashboard)/stock/page.tsx
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/hooks/use-optimized-component.ts
  packages/utils/src/helpers/array.ts
Labels: frontend, utils

Update use-optimized-component.ts
  apps/web/src/hooks/use-optimized-component.ts
Labels: frontend
