Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

feat(prisma): Phase 7.2 - RolesPrismaController ✅
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/roles-prisma.controller.ts
Labels: backend

feat(prisma): Phase 7.3 - SessionsPrismaController ✅
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/sessions-prisma.controller.ts
Labels: backend

feat(prisma): Phase 7 - Intégration des modules Prisma dans app.module.ts ✅
  apps/api/src/app/app.module.ts
Labels: backend

docs: Phase 7 - Documentation complète des controllers Prisma ✅
  docs/PHASE_7_COMPLETE_SUMMARY.md
Labels: documentation

docs: Phase 8+ - Plan de migration et prochaines étapes 📋
  docs/PHASE_8_MIGRATION_PLAN.md
Labels: documentation

feat(prisma): Phase 8.1a - SocietesPrismaController ✅ (Infrastructure Multi-Tenant)
  apps/api/src/domains/societes/prisma/societes-prisma.controller.ts
  apps/api/src/domains/societes/prisma/societes-prisma.module.ts
Labels: backend

feat(prisma): Phase 8.1b - SocieteLicensesPrismaController ✅
  apps/api/src/domains/societes/prisma/societe-licenses-prisma.controller.ts
  apps/api/src/domains/societes/prisma/societes-prisma.module.ts
Labels: backend

feat(prisma): Phase 8.1c+d - SocieteUsersPrismaController + SitesPrismaController ✅
  apps/api/src/domains/societes/prisma/sites-prisma.controller.ts
  apps/api/src/domains/societes/prisma/societe-users-prisma.controller.ts
  apps/api/src/domains/societes/prisma/societes-prisma.module.ts
Labels: backend

feat(prisma): Phase 8.2 - TypeScript error corrections ✅ (0 errors)
  apps/api/src/domains/admin/prisma/menu-configuration-prisma.service.ts
  apps/api/src/domains/auth/prisma/auth-prisma.service.ts
  apps/api/src/domains/auth/prisma/groups-prisma.service.ts
  apps/api/src/domains/auth/prisma/module-prisma.service.ts
  apps/api/src/domains/societes/prisma/societe-user-prisma.service.ts
  apps/api/src/domains/societes/prisma/societe-users-prisma.controller.ts
Labels: backend

feat(tests): Phase 8.3.1 - Tests critiques services Prisma ✅ (109 tests, 75% pass)
  apps/api/src/__tests__/helpers/prisma-mock-factory.ts
  apps/api/src/domains/auth/prisma/__tests__/auth-prisma.service.spec.ts
  apps/api/src/domains/auth/prisma/__tests__/role-prisma.service.spec.ts
  apps/api/src/domains/societes/prisma/__tests__/societe-prisma.service.spec.ts
  apps/api/src/domains/users/prisma/__tests__/user-prisma.service.spec.ts
  docs/PHASE_8_3_1_FINAL_REPORT.md
  docs/PHASE_8_3_1_PROGRESS_REPORT.md
  docs/PHASE_8_3_TESTING_PLAN.md
Labels: backend, documentation, tests

feat(prisma): Phase 9 - Standard routes migration complete ✅
  apps/api/src/__tests__/helpers/prisma-mock-factory.ts
  apps/api/src/app/app.module.ts
  apps/api/src/domains/api-controllers.module.ts
  apps/api/src/domains/auth/auth.controller.ts
  apps/api/src/domains/auth/auth.module.ts
  apps/api/src/domains/auth/legacy/auth-legacy.controller.ts
  apps/api/src/domains/auth/legacy/role-legacy.controller.ts
  apps/api/src/domains/auth/legacy/sessions-legacy.controller.ts
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/role-auth.module.ts
  apps/api/src/domains/auth/roles.controller.ts
  apps/api/src/domains/auth/sessions.controller.ts
  apps/api/src/domains/notifications/notifications.controller.ts
  apps/api/src/domains/notifications/prisma/notifications-prisma.module.ts
  apps/api/src/domains/parameters/parameters.controller.ts
  apps/api/src/domains/parameters/prisma/parameters-prisma.module.ts
  apps/api/src/domains/societes/prisma/societes-prisma.module.ts
  apps/api/src/domains/societes/sites.controller.ts
  apps/api/src/domains/societes/societe-licenses.controller.ts
  apps/api/src/domains/societes/societe-users.controller.ts
  apps/api/src/domains/societes/societes.controller.ts
  apps/api/src/domains/users/legacy/users-legacy.controller.ts
  apps/api/src/domains/users/prisma/users-prisma.module.ts
  apps/api/src/domains/users/users.controller.ts
  apps/api/src/domains/users/users.module.ts
  docs/PHASE_9_BREAKING_CHANGES.md
  docs/PHASE_9_FINAL_REPORT.md
  docs/PHASE_9_MIGRATION_PLAN.md
  docs/PHASE_9_ROUTE_MAPPING.md
Labels: backend, documentation, tests

docs: Phase 8 corrections report + Complete Prisma migration summary
  docs/PHASE_8_2_TYPESCRIPT_CORRECTIONS_REPORT.md
  docs/PRISMA_MIGRATION_COMPLETE_SUMMARY.md
Labels: documentation

feat(post-migration): Post-migration cleanup & optimization ✅
  README.md
  apps/api/prisma/schema.prisma
  apps/api/src/core/database/prisma/prisma.service.ts
  apps/api/src/domains/auth/legacy/auth-legacy.controller.ts
  apps/api/src/domains/auth/legacy/role-legacy.controller.ts
  apps/api/src/domains/auth/legacy/sessions-legacy.controller.ts
  apps/api/src/domains/auth/prisma/auth-prisma.controller.ts
  apps/api/src/domains/auth/prisma/roles-prisma.controller.ts
  apps/api/src/domains/auth/prisma/sessions-prisma.controller.ts
  apps/api/src/domains/notifications/prisma/index.ts
  apps/api/src/domains/notifications/prisma/notifications-prisma.controller.ts
  apps/api/src/domains/parameters/prisma/index.ts
  apps/api/src/domains/parameters/prisma/parameters-prisma.controller.ts
  apps/api/src/domains/societes/prisma/sites-prisma.controller.ts
  apps/api/src/domains/societes/prisma/societe-licenses-prisma.controller.ts
  apps/api/src/domains/societes/prisma/societe-users-prisma.controller.ts
  apps/api/src/domains/societes/prisma/societes-prisma.controller.ts
  apps/api/src/domains/users/legacy/users-legacy.controller.ts
  apps/api/src/domains/users/prisma/users-prisma.controller.ts
  docs/POST_MIGRATION_TYPEORM_ANALYSIS.md
  docs/PRISMA_DEVELOPER_MIGRATION_GUIDE.md
  docs/PRISMA_OPTIMIZATION_GUIDE.md
Labels: backend, documentation

docs: Update cleanup status - All tasks completed ✅
  docs/CLEANUP_BUSINESS_LOGIC_STATUS.md
Labels: documentation

feat(prisma): Complete Licensing domain migration to Prisma
  apps/api/prisma/schema.prisma
  apps/api/src/domains/licensing/prisma/license-prisma.service.ts
  apps/api/src/domains/licensing/prisma/licensing-prisma.module.ts
  docs/LICENSING_PRISMA_MIGRATION_PROGRESS.md
Labels: backend, documentation

fix(licensing): Fix TypeScript type errors for JSON fields
  apps/api/src/domains/licensing/prisma/license-prisma.service.ts
Labels: backend

cleanup(licensing): Remove obsolete TypeORM entities and services
  apps/api/src/domains/licensing/entities/license-activation.entity.ts
  apps/api/src/domains/licensing/entities/license-feature.entity.ts
  apps/api/src/domains/licensing/entities/license-usage.entity.ts
  apps/api/src/domains/licensing/entities/license.entity.ts
  apps/api/src/domains/licensing/services/license-management.service.ts
  apps/api/src/domains/licensing/services/license-validation.service.ts
Labels: backend, database

feat(licensing): Add RESTful API controllers for Licensing Prisma
  apps/api/src/domains/api-controllers.module.ts
  apps/api/src/domains/licensing/controllers/license-features.controller.ts
  apps/api/src/domains/licensing/controllers/license-status.controller.ts
  apps/api/src/domains/licensing/controllers/licenses.controller.ts
  apps/api/src/domains/licensing/dto/create-license.dto.ts
  apps/api/src/domains/licensing/dto/feature.dto.ts
  apps/api/src/domains/licensing/dto/license-status.dto.ts
  apps/api/src/domains/licensing/dto/update-license.dto.ts
  apps/api/src/domains/licensing/licensing.module.ts
Labels: backend

test(licensing): Add comprehensive E2E tests for Licensing API
  apps/api/src/domains/licensing/__tests__/README.md
  apps/api/src/domains/licensing/__tests__/licensing-api.e2e-spec.ts
Labels: backend, documentation, tests

feat(licensing): Add Activations & Usage controllers - API 100% complete
  apps/api/src/domains/api-controllers.module.ts
  apps/api/src/domains/licensing/controllers/license-activations.controller.ts
  apps/api/src/domains/licensing/controllers/license-usage.controller.ts
  apps/api/src/domains/licensing/dto/activation.dto.ts
  apps/api/src/domains/licensing/dto/usage.dto.ts
Labels: backend

fix(licensing): E2E tests configuration & NestJS guards
  apps/api/src/domains/licensing/__tests__/licensing-api.e2e-spec.ts
  docs/LICENSING_E2E_TESTS_STATUS.md
Labels: backend, documentation, tests

feat(licensing): Complete database migration & E2E validation ✅
  apps/api/prisma/licensing_tables.sql
  apps/api/prisma/schema.prisma
  apps/api/scripts/create-licensing-tables.js
  apps/api/scripts/verify-licensing-tables.js
  apps/api/src/domains/licensing/__tests__/licensing-api.e2e-spec.ts
  apps/api/src/domains/licensing/controllers/license-status.controller.ts
  apps/api/src/domains/licensing/controllers/licenses.controller.ts
  docs/LICENSING_COMPLETE_VALIDATION.md
Labels: backend, documentation, tests

wip: Fix final syntax errors - reveals structural TypeORM/Prisma issues ⚠️
  apps/api/src/domains/notifications/services/notification-rules-engine.service.ts
  apps/api/src/features/admin/controllers/admin-menus.controller.ts
  apps/api/src/features/admin/system-parameters.service.ts
  apps/api/src/features/parameters/dto/parameter-application.dto.ts
  apps/api/src/features/parameters/dto/parameter-client.dto.ts
  docs/PHASE_2B_FINAL_STATUS.md
Labels: backend, documentation

feat(phase2): Domain cartography & migration roadmap complete ✅
  apps/api/domain-migration-roadmap.json
  apps/api/scripts/map-orm-usage-by-domain.js
  docs/PHASE_2_CARTOGRAPHY_COMPLETE.md
Labels: backend, documentation

test: Add comprehensive E2E test suite for critical domains ✅
  apps/api/test/admin.e2e-spec.ts
  apps/api/test/auth.e2e-spec.ts
  apps/api/test/societes.e2e-spec.ts
  apps/api/test/users.e2e-spec.ts
  docs/E2E_TEST_SUITE.md
Labels: backend, documentation

feat(e2e): E2E test suite implementation & infrastructure fixes
  apps/api/package.json
  apps/api/src/core/database/config/multi-tenant-database.config.ts
  apps/api/src/domains/auth/auth.module.ts
  apps/api/test/admin.e2e-spec.ts
  apps/api/test/auth.e2e-spec.ts
  apps/api/test/societes.e2e-spec.ts
  apps/api/test/users.e2e-spec.ts
  pnpm-lock.yaml
Labels: backend, configuration, dependencies

fix(imports): Add missing entity imports + E2E progress report
  apps/api/src/features/database-core/database-core.module.ts
  docs/E2E_IMPLEMENTATION_PROGRESS.md
Labels: backend, documentation

test(e2e): Users E2E tests - 10/17 tests passing (59%)
  apps/api/scripts/cleanup-test-data.ts
  apps/api/scripts/find-missing-entity-imports.js
  apps/api/src/core/database/config/multi-tenant-database.config.ts
  apps/api/src/domains/auth/role-auth.module.ts
  apps/api/src/domains/users/users.controller.ts
  apps/api/src/domains/users/users.module.ts
  apps/api/src/features/parameters/parameters.module.ts
  apps/api/src/features/societes/services/tenant-provisioning.service.ts
  apps/api/test/test-app.module.ts
  apps/api/test/users.e2e-spec.ts
Labels: backend

fix(e2e): HTTP methods & test cleanup - 9/17 tests passing (53%)
  apps/api/missing-entity-imports-report.json
  apps/api/scripts/cleanup-test-data.ts
  apps/api/src/domains/users/users.controller.ts
  apps/api/test/users.e2e-spec.ts
Labels: backend

fix(e2e): Soft delete filtering & test cleanup - 13/17 passing (76%)
  apps/api/src/domains/users/prisma/user-prisma.service.ts
  apps/api/test/users.e2e-spec.ts
Labels: backend

feat(tests): Achieve 100% pass rate on Users E2E tests (17/17) ✅
  apps/api/src/domains/users/users.controller.ts
  apps/api/test/users.e2e-spec.ts
Labels: backend

fix(tests): Fix Prisma schema mismatches in E2E test suites
  apps/api/test/admin.e2e-spec.ts
  apps/api/test/auth.e2e-spec.ts
  apps/api/test/societes.e2e-spec.ts
Labels: backend

fix(ts): Fix TypeScript compilation errors - entity imports & config
  apps/api/prisma/schema.prisma
  apps/api/src/core/database/database-production.module.ts
  apps/api/src/core/database/database.module.ts
  apps/api/src/core/scripts/init-parameters-data.ts
Labels: backend

fix(ts): Major TypeScript error reduction - 88 → 28 errors ✅
  apps/api/src/domains/admin/services/menu-sync.service.ts
  apps/api/src/features/admin/system-parameters.service.ts
  apps/api/src/features/query-builder/services/query-builder-executor.service.ts
  apps/api/src/features/societes/services/tenant-provisioning.service.ts
Labels: backend

fix(ts): Additional TypeScript fixes - entity paths and type annotations
  apps/api/src/features/admin/controllers/admin-menus.controller.ts
  apps/api/src/features/admin/services/menu-configuration.service.ts
  apps/api/src/features/admin/services/menu-sync.service.ts
  apps/api/src/features/menu/controllers/user-menu-preference.controller.ts
  apps/api/src/features/menu/services/user-menu-preference.service.ts
  apps/api/src/features/notifications/services/notification-rule-engine.service.ts
  apps/api/src/features/notifications/services/notification-rule.service.ts
  apps/api/src/features/query-builder/query-builder.module.ts
  apps/api/src/features/query-builder/services/query-builder-executor.service.ts
  apps/api/src/features/query-builder/services/query-builder-permission.service.ts
  apps/api/src/features/query-builder/services/query-builder.service.ts
Labels: backend

fix(ts): Export MenuItemType enum & create entity index stubs
  apps/api/src/domains/admin/entities/menu-item.entity.ts
  apps/api/src/features/notifications/entities/index.ts
  apps/api/src/features/notifications/services/notification-rule-engine.service.ts
  apps/api/src/features/notifications/services/notification-rule.service.ts
  apps/api/src/features/query-builder/entities/index.ts
  apps/api/src/features/query-builder/query-builder.module.ts
  apps/api/src/features/query-builder/services/query-builder-permission.service.ts
  apps/api/src/features/query-builder/services/query-builder.service.ts
Labels: backend, database

fix(ts): Improve notification entity stubs - 113 → 91 errors ✅
  apps/api/src/features/notifications/entities/index.ts
Labels: backend, database

fix(ts): Improve query-builder entity stubs - 91 → 80 errors ✅
  apps/api/src/features/query-builder/entities/index.ts
  apps/api/src/features/query-builder/services/query-builder-executor.service.ts
Labels: backend, database

fix(ts): Add menu entity compatibility layer - 80 → 53 errors ✅
  apps/api/src/domains/admin/entities/menu-configuration.entity.ts
  apps/api/src/domains/admin/entities/menu-item.entity.ts
  apps/api/src/features/admin/entities/menu-item-permission.entity.ts
  apps/api/src/features/admin/entities/menu-item-role.entity.ts
Labels: backend, database

fix(ts): Improve entity stubs & fix imports - 53 → 40 errors ✅
  apps/api/src/features/admin/services/menu-configuration.service.ts
  apps/api/src/features/admin/services/menu-sync.service.ts
  apps/api/src/features/notifications/entities/index.ts
  apps/api/src/features/query-builder/entities/index.ts
Labels: backend, database

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"
