Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

fix: corrections de sécurité pour production readiness
  apps/api/package.json
  apps/marketplace-api/src/main.ts
  pnpm-lock.yaml
Labels: backend, configuration, dependencies

fix: correction des erreurs Biome et amélioration de la qualité du code
  .claude/settings.local.json
  .github/scripts/performance-tracker.js
  apps/api/src/core/monitoring/sentry.interceptor.ts
  apps/api/src/domains/auth/interfaces/index.ts
  apps/api/src/domains/inventory/interfaces/index.ts
  apps/api/src/domains/partners/repositories/partner-interaction.repository.ts
  apps/api/src/features/pricing/services/pricing-engine.service.spec.ts
  apps/api/src/infrastructure/security/__tests__/security.service.test.ts
  apps/api/src/infrastructure/security/security.service.ts
  apps/api/test/app.e2e-spec.ts
  apps/api/test/jest-e2e.json
  apps/marketplace-api/src/config/typeorm.config.ts
  apps/marketplace-api/src/domains/auth/services/auth.service.ts
  apps/marketplace-api/src/domains/email/email.service.ts
  apps/marketplace-api/src/domains/orders/controllers/orders.controller.ts
  apps/marketplace-api/src/domains/orders/services/orders.service.ts
  apps/marketplace-api/src/domains/page-builder/services/page-builder.service.ts
  apps/marketplace-api/src/domains/products/entities/marketplace-price-rule.entity.ts
  apps/marketplace-api/src/domains/products/services/marketplace-products.service.ts
  apps/marketplace-api/src/domains/storefront/controllers/storefront.controller.ts
  apps/marketplace-api/src/domains/storefront/services/storefront.service.ts
  apps/marketplace-api/src/main.ts
  apps/marketplace-api/src/shared/tenant/tenant-resolver.service.ts
  apps/marketplace-api/src/shared/tenant/tenant.guard.ts
  apps/marketplace-api/src/shared/types/common.types.ts
  apps/marketplace-api/test/app.e2e-spec.ts
  apps/marketplace-api/test/jest-e2e.json
  apps/web/src/components/search/command-palette.tsx
  apps/web/src/lib/api-client-final.ts
  apps/web/src/lib/api-client-impl.ts
  apps/web/src/lib/auth/auth-provider.tsx
  packages/domains/src/image/elasticsearch-service.ts
Labels: frontend, backend, tests, configuration, database

fix: correction des utilisations critiques de 'any' dans le projet TopSteel
  apps/marketplace-api/src/domains/products/controllers/products.controller.ts
  apps/marketplace-storefront/src/app/[tenant]/admin/page-builder/[id]/page.tsx
  apps/marketplace-storefront/src/app/[tenant]/admin/page-builder/page.tsx
Labels: none

fix: correction complète des types TypeScript et CI/CD
  .claude/settings.local.json
  .vscode/settings.json
  apps/api/src/domains/partners/controllers/partner.controller.ts
  apps/api/src/domains/partners/entities/partner-interaction.entity.ts
  apps/api/src/domains/partners/repositories/partner-interaction.repository.ts
  apps/api/src/infrastructure/security/log-sanitization/log-sanitizer.service.spec.ts
  apps/api/src/scripts/analyze-menu-structure.ts
  apps/api/src/scripts/test-auth-system.ts
  apps/api/src/scripts/test-multi-tenant-login.ts
  apps/api/src/scripts/test-search-cache.ts
  apps/marketplace-storefront/src/app/[tenant]/admin/page-builder/page.tsx
  apps/marketplace-storefront/src/app/[tenant]/cart/cart-client.tsx
  apps/marketplace-storefront/src/components/page-builder/PageRenderer.tsx
  apps/marketplace-storefront/src/components/page-builder/editor/SectionSettings.tsx
  apps/web/package.json
  apps/web/src/lib/monitoring/sentry.ts
  apps/web/src/lib/react-19-ui-components.tsx
  apps/web/src/lib/services/ui-preferences-client.service.ts
  apps/web/src/lib/ui-components-complete.tsx
  apps/web/src/middleware.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/stores/selectors/app.selectors.ts
  apps/web/src/utils/fetch-test.ts
  pnpm-lock.yaml
Labels: frontend, backend, tests, configuration, dependencies, database

update
  apps/marketplace-storefront/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

fix: correction complète CI/CD et suppression massive des types any/unknown
  .github/workflows/ci-cd.yml
  apps/api/src/domains/partners/controllers/partner.controller.ts
  apps/api/src/features/marketplace/payment/stripe-payment.service.ts
  apps/api/src/infrastructure/infrastructure.module.ts
  apps/api/src/infrastructure/security/rate-limiting/rate-limiting.module.ts
  apps/api/src/scripts/services/injection-logger.service.ts
  apps/e2e/k6-load-test.js
  apps/marketplace-storefront/src/components/page-builder/sections/ProductsGridSection.tsx
  apps/marketplace-storefront/src/components/providers/query-provider.tsx
  apps/web/next.config.ts
  apps/web/src/lib/api-client-impl.ts
  apps/web/src/lib/api-client-types.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/react-19-ui-components.tsx
  apps/web/src/lib/security/csp-nonce.ts
  apps/web/src/lib/services/ui-preferences-client.service.ts
  apps/web/src/middleware.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/utils/debug-polyfill.js
  apps/web/src/utils/engine-io-client-polyfill.js
  biome.json
  package.json
  packages/ui/src/components/business/dialogs/AddClientDialog/AddClientDialog.tsx
  packages/ui/src/components/business/dialogs/AddTaskDialog/AddTaskDialog.tsx
  packages/ui/src/components/business/dialogs/EditUserDialog/EditUserDialog.tsx
  packages/ui/src/components/business/dialogs/UserPermissionsDialog/UserPermissionsDialog.tsx
  packages/ui/src/components/data-display/datatable/RichTextEditor.tsx
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, utils, ci/cd

fix(ci): correction complète du CI/CD et sécurisation critique
  .claude/settings.local.json
  .github/pr-labeler.yml
  .github/workflows/pr-checks.yml
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  scripts/secrets-cli.ts
Labels: configuration, dependencies, ci/cd

.
  .npmrc
  apps/web/next.config.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
Labels: frontend, configuration, dependencies, utils

.
  CREDENTIALS_COMPLETE_GUIDE.md
  CSP_IMPLEMENTATION_GUIDE.md
  CSRF_PROTECTION_IMPLEMENTATION.md
  DEVELOPMENT.md
  RAPPORT_CI_CD_ERREURS.md
  RAPPORT_CORRECTIONS_TYPESCRIPT_SANS_ANY.md
Labels: documentation

fix(web): correction avertissement TypeScript baseUrl déprécié
  apps/web/tsconfig.json
Labels: frontend

refactor: suppression complète de baseUrl/paths - solution 100% propre
  apps/web/src/app/api/images/upload/image-service.ts
  apps/web/src/lib/server/domains-server.ts
  packages/domains/src/index.ts
  tsconfig.base.json
Labels: frontend, configuration

docs: ajout stratégie architecture et plan migration Prisma
  ANALYSE_BETTER_AUTH.md
  PLAN_TRANSITION_PRISMA.md
  STRATEGIE_ARCHITECTURE_FINALE.md
Labels: documentation

feat(prisma): Phase 0 - Setup Prisma infrastructure complet
  apps/api/.gitignore
  apps/api/package.json
  apps/api/prisma/schema.prisma
  pnpm-lock.yaml
Labels: backend, configuration, dependencies

feat(prisma): Phase 1.1 - Créer PrismaService injectable
  apps/api/prisma/schema.prisma
  apps/api/src/core/core.module.ts
  apps/api/src/core/database/prisma/index.ts
  apps/api/src/core/database/prisma/prisma.module.ts
  apps/api/src/core/database/prisma/prisma.service.ts
Labels: backend

feat(prisma): Phase 1.2/1.3 - AuthPrismaService avec 5 entités critiques
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/auth-prisma.service.ts
  apps/api/src/domains/auth/prisma/index.ts
Labels: backend

feat(prisma): Phase 1.4 - Implémentation Login/JWT avec Prisma
  apps/api/src/app/app.module.ts
  apps/api/src/domains/auth/prisma/auth-prisma.controller.ts
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/dto/login-prisma.dto.ts
  apps/api/src/scripts/test-login-prisma.ts
Labels: backend

feat(prisma): Phase 1.5 - Implémentation MFA/TOTP avec Prisma
  apps/api/package.json
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/index.ts
  apps/api/src/domains/auth/prisma/mfa-prisma.service.ts
  pnpm-lock.yaml
Labels: backend, configuration, dependencies

feat(prisma): Phase 1.6 - Implémentation Multi-Tenant DB-level isolation
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/decorators/tenant.decorator.ts
  apps/api/src/domains/auth/prisma/guards/tenant.guard.ts
  apps/api/src/domains/auth/prisma/index.ts
  apps/api/src/domains/auth/prisma/tenant-prisma.service.ts
  apps/api/src/scripts/test-multi-tenant-prisma.ts
Labels: backend

feat(prisma): Phase 1.8 - Benchmarks Performance Prisma vs TypeORM
  apps/api/src/scripts/benchmark-prisma-vs-typeorm.ts
Labels: backend

feat(prisma): Phase 1.9 - Checkpoint GO/NO-GO POC Validation
  apps/api/src/scripts/validation-go-no-go-poc.ts
Labels: backend

feat(auth): complete Phase 2.1 - Auth domain complete migration
  .claude/settings.local.json
  apps/api/src/domains/auth/prisma/audit-log-prisma.service.ts
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/groups-prisma.service.ts
  apps/api/src/domains/auth/prisma/index.ts
  apps/api/src/domains/auth/prisma/module-prisma.service.ts
  apps/api/src/domains/auth/prisma/sms-log-prisma.service.ts
  apps/api/src/domains/auth/prisma/user-settings-prisma.service.ts
Labels: backend

feat(societes): complete Phase 2.2 - Societes domain migration
  apps/api/src/domains/societes/prisma/index.ts
  apps/api/src/domains/societes/prisma/site-prisma.service.ts
  apps/api/src/domains/societes/prisma/societe-license-prisma.service.ts
  apps/api/src/domains/societes/prisma/societe-prisma.service.ts
  apps/api/src/domains/societes/prisma/societe-user-prisma.service.ts
  apps/api/src/domains/societes/prisma/societes-prisma.module.ts
  apps/api/src/domains/societes/prisma/user-societe-role-prisma.service.ts
Labels: backend

feat(admin): partial Phase 2.3 - Admin/Menu core services (3/11)
  apps/api/src/domains/admin/prisma/admin-prisma.module.ts
  apps/api/src/domains/admin/prisma/index.ts
  apps/api/src/domains/admin/prisma/menu-configuration-prisma.service.ts
  apps/api/src/domains/admin/prisma/system-parameter-prisma.service.ts
  apps/api/src/domains/admin/prisma/system-setting-prisma.service.ts
Labels: backend

feat(prisma): Phase 2.3 - Migration Admin + Menu complète (11/11 entités)
  apps/api/src/domains/admin/prisma/admin-prisma.module.ts
  apps/api/src/domains/admin/prisma/discovered-page-prisma.service.ts
  apps/api/src/domains/admin/prisma/index.ts
  apps/api/src/domains/admin/prisma/menu-configuration-simple-prisma.service.ts
  apps/api/src/domains/admin/prisma/menu-item-permission-prisma.service.ts
  apps/api/src/domains/admin/prisma/menu-item-prisma.service.ts
  apps/api/src/domains/admin/prisma/menu-item-role-prisma.service.ts
  apps/api/src/domains/admin/prisma/user-menu-item-preference-prisma.service.ts
  apps/api/src/domains/admin/prisma/user-menu-preference-prisma.service.ts
  apps/api/src/domains/admin/prisma/user-menu-preferences-prisma.service.ts
Labels: backend

feat(prisma): Phase 2.4 - Migration Parameters complète (3/3 entités)
  apps/api/src/domains/parameters/prisma/index.ts
  apps/api/src/domains/parameters/prisma/parameter-application-prisma.service.ts
  apps/api/src/domains/parameters/prisma/parameter-client-prisma.service.ts
  apps/api/src/domains/parameters/prisma/parameter-system-prisma.service.ts
  apps/api/src/domains/parameters/prisma/parameters-prisma.module.ts
Labels: backend

feat(prisma): Phase 2.5 - Migration Notifications complète (7/7 entités)
  apps/api/src/domains/notifications/prisma/index.ts
  apps/api/src/domains/notifications/prisma/notification-event-prisma.service.ts
  apps/api/src/domains/notifications/prisma/notification-prisma.service.ts
  apps/api/src/domains/notifications/prisma/notification-read-prisma.service.ts
  apps/api/src/domains/notifications/prisma/notification-rule-execution-prisma.service.ts
  apps/api/src/domains/notifications/prisma/notification-rule-prisma.service.ts
  apps/api/src/domains/notifications/prisma/notification-settings-prisma.service.ts
  apps/api/src/domains/notifications/prisma/notification-template-prisma.service.ts
  apps/api/src/domains/notifications/prisma/notifications-prisma.module.ts
Labels: backend

feat(api): Phase 2.6 - Query Builder migration complete (5/5 entities)
  apps/api/src/domains/query-builder/prisma/index.ts
  apps/api/src/domains/query-builder/prisma/query-builder-calculated-field-prisma.service.ts
  apps/api/src/domains/query-builder/prisma/query-builder-column-prisma.service.ts
  apps/api/src/domains/query-builder/prisma/query-builder-join-prisma.service.ts
  apps/api/src/domains/query-builder/prisma/query-builder-permission-prisma.service.ts
  apps/api/src/domains/query-builder/prisma/query-builder-prisma.module.ts
  apps/api/src/domains/query-builder/prisma/query-builder-prisma.service.ts
Labels: backend

docs: Add Phase 3 migration strategy document
  docs/PHASE_3_MIGRATION_STRATEGY.md
Labels: documentation

feat(api): Phase 3.1 - Integrate AuthPrismaModule into AuthModule
  apps/api/src/domains/auth/auth.module.ts
Labels: backend

feat(api): Phase 3 - Integrate all Prisma modules into feature modules
  apps/api/src/features/admin/admin.module.ts
  apps/api/src/features/notifications/notifications.module.ts
  apps/api/src/features/parameters/parameters.module.ts
  apps/api/src/features/societes/societes.module.ts
Labels: backend

docs: Phase 3.4 - Complete validation report ✅
  docs/PHASE_3_VALIDATION_REPORT.md
Labels: documentation

docs: Phase 4.1 - Complete E2E test validation report
  docs/PHASE_4_E2E_TESTS_REPORT.md
Labels: documentation

docs: Phase 4.4-4.5 - Final migration summary and validation ✅🎉
  docs/PRISMA_MIGRATION_FINAL_SUMMARY.md
Labels: documentation

feat(prisma): Phase 5.1-5.2 - AuthPrismaService enrichment & controller migration analysis
  apps/api/src/domains/auth/prisma/auth-prisma.service.ts
  docs/PHASE_5_CONTROLLER_MIGRATION_ANALYSIS.md
Labels: backend, documentation

feat(prisma): Phase 5.3-5.4 - First controller migration (ParametersPrismaController) ✅
  apps/api/src/domains/parameters/prisma/index.ts
  apps/api/src/domains/parameters/prisma/parameter-system-prisma.service.ts
  apps/api/src/domains/parameters/prisma/parameters-prisma.controller.ts
  apps/api/src/domains/parameters/prisma/parameters-prisma.module.ts
  docs/PHASE_5_3_PARAMETERS_CONTROLLER_MIGRATION.md
Labels: backend, documentation

feat(prisma): Phase 5.6-5.7 - NotificationsController migration ✅ (avec limitations schéma)
  apps/api/src/domains/notifications/prisma/index.ts
  apps/api/src/domains/notifications/prisma/notification-prisma.service.ts
  apps/api/src/domains/notifications/prisma/notifications-prisma.controller.ts
  apps/api/src/domains/notifications/prisma/notifications-prisma.module.ts
  docs/PHASE_5_6_NOTIFICATIONS_CONTROLLER_MIGRATION.md
Labels: backend, documentation

feat(prisma): Phase 6.1 - UserPrismaService complete ✅
  apps/api/src/domains/users/prisma/user-prisma.service.ts
  apps/api/src/domains/users/prisma/users-prisma.module.ts
Labels: backend

feat(prisma): Phase 6.2 - RolePrismaService complete ✅
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/role-prisma.service.ts
Labels: backend

feat(prisma): Phase 6.3 - SessionPrismaService complete ✅
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/session-prisma.service.ts
Labels: backend

feat(prisma): Phase 7.1 - UsersPrismaController ✅
  apps/api/src/domains/users/prisma/users-prisma.controller.ts
  apps/api/src/domains/users/prisma/users-prisma.module.ts
Labels: backend

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"
