Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

fix(ts): Add null safety checks in query-builder-executor - 40 → 27 errors ✅
  apps/api/src/features/query-builder/services/query-builder-executor.service.ts
Labels: backend

fix(ts): Fix type conversions and null safety - 27 → 12 errors ✅
  apps/api/src/features/admin/services/menu-configuration.service.ts
  apps/api/src/features/admin/services/menu-sync.service.ts
  apps/api/src/features/menu/services/user-menu-preference.service.ts
  apps/api/src/features/query-builder/controllers/query-builder.controller.ts
Labels: backend

fix(ts): Fix final 12 errors - 12 → 0 errors ✅🎉
  apps/api/src/domains/admin/services/menu-sync.service.ts
  apps/api/src/features/notifications/services/notification-rule-engine.service.ts
  apps/api/src/features/notifications/services/notification-rule.service.ts
  apps/api/src/features/query-builder/services/query-builder-executor.service.ts
  apps/api/src/features/query-builder/services/query-builder.service.ts
  apps/api/src/features/societes/services/tenant-provisioning.service.ts
Labels: backend

feat(prisma): Finalize infrastructure base with complete Prisma migration
  apps/api/prisma/schema.prisma
  apps/api/src/domains/auth/auth.controller.ts
  apps/api/src/domains/auth/auth.module.ts
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/auth-prisma.service.ts
  apps/api/src/domains/auth/prisma/groups-prisma.service.ts
  apps/api/src/domains/auth/prisma/permission-prisma.service.ts
  apps/api/src/domains/auth/prisma/unified-roles-prisma.service.ts
  apps/api/src/domains/auth/prisma/user-societe-roles-prisma.service.ts
  apps/api/src/domains/query-builder/prisma/query-builder-permission-prisma.service.ts
  apps/api/src/domains/query-builder/prisma/query-builder-prisma.service.ts
  apps/api/src/domains/societes/prisma/societe-prisma.service.ts
  apps/api/src/domains/societes/prisma/societe-user-prisma.service.ts
  apps/api/src/domains/societes/prisma/user-societe-role-prisma.service.ts
  apps/api/src/domains/users/services/user-auth-prisma-repository.service.ts
  apps/api/src/domains/users/users-prisma.service.ts
  apps/api/src/domains/users/users.module.ts
Labels: backend

docs: Add TopSteel ↔ TopTime integration roadmap
  PLAN_INTEGRATION_TOPTIME.md
Labels: documentation

fix(prisma): Clean up TypeScript errors and align with Prisma schema
  apps/api/src/domains/api-controllers.module.ts
  apps/api/src/domains/auth/auth.module.ts
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/auth-prisma.service.ts
  apps/api/src/domains/auth/prisma/dto/login-prisma.dto.ts
  apps/api/src/domains/auth/prisma/unified-roles-prisma.service.ts
  apps/api/src/domains/auth/prisma/user-societe-roles-prisma.service.ts
  apps/api/src/domains/users/prisma/user-prisma.service.ts
  apps/api/src/domains/users/prisma/users-prisma.module.ts
  apps/api/src/domains/users/services/user-auth-prisma-repository.service.ts
  apps/api/src/domains/users/users-prisma.service.ts
  apps/api/src/domains/users/users.controller.ts
  apps/api/src/domains/users/users.module.ts
Labels: backend

feat(prisma): Recreate unified roles services with correct Prisma schema
  apps/api/src/domains/auth/auth.module.ts
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/auth/prisma/unified-roles-prisma.service.ts
  apps/api/src/domains/auth/prisma/user-societe-roles-prisma.service.ts
Labels: backend

feat(prisma): Recreate UsersController with Prisma services
  apps/api/src/domains/api-controllers.module.ts
  apps/api/src/domains/users/users.controller.ts
Labels: backend

feat(prisma): Add database seed script with test data
  apps/api/prisma/seed.ts
Labels: backend

fix(menu): Fix circular dependency in MenuModule imports
  apps/api/src/features/menu/menu.module.ts
Labels: backend

fix(admin): Fix circular dependency in MenuSyncModule imports
  apps/api/src/features/admin/menu-sync.module.ts
Labels: backend

fix(auth): Add missing providers to AuthPrismaModule
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
Labels: backend

fix(auth): Add RedisService to AuthPrismaModule providers
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
Labels: backend

fix(prisma): Fix all dependency injection errors - Backend now starts! ✅
  PLAN_TRANSITION_PRISMA.md
  apps/api/src/__tests__/auth-super-admin.integration.test.ts
  apps/api/src/core/database/services/seeder.service.ts
  apps/api/src/core/services/database-init/database-init-data.ts
  apps/api/src/domains/auth/auth.module.ts
  apps/api/src/domains/auth/core/providers/auth-repository.providers.ts
  apps/api/src/domains/auth/prisma/auth-prisma.module.ts
  apps/api/src/domains/users/prisma/users-prisma.module.ts
  apps/api/src/domains/users/services/user-auth-prisma-repository.service.ts
  apps/api/src/features/admin/controllers/admin-users.controller.ts
  apps/api/src/features/search/search.module.ts
  apps/api/src/scripts/check-admin-simple.ts
  apps/api/src/scripts/check-admin-user.ts
  apps/api/src/scripts/check-all-admins.ts
  apps/api/src/scripts/fix-topsteel-company.ts
  apps/api/src/scripts/reset-admin-now.ts
  apps/api/src/scripts/reset-admin-password.ts
  apps/api/src/scripts/reset-admin-test-users.ts
  apps/api/src/scripts/test-global-search.ts
  apps/api/src/scripts/test-login-admin.ts
  apps/api/src/scripts/test-login-complete.ts
  apps/web/data/translation-overrides.json
  apps/web/package.json
  apps/web/src/app/(auth)/login/login-client.tsx
  apps/web/src/app/api/admin/societes/[id]/route.ts
  apps/web/src/app/api/admin/users/bulk-operations/route.ts
  apps/web/src/app/api/config/route.ts
  apps/web/src/app/api/query-builder/route.ts
  apps/web/src/lib/auth-helper.ts
  apps/web/src/lib/auth-server.ts
  apps/web/src/lib/i18n/translations/en.ts
  apps/web/src/lib/i18n/translations/fr.ts
  docs/development/database-seeding.md
  docs/development/getting-started.md
  docs/development/scripts.md
  pnpm-lock.yaml
Labels: frontend, backend, documentation, tests, configuration, dependencies

refactor(api): consolidate API clients - remove 5 duplicate files
  apps/web/src/lib/api-client-export.ts
  apps/web/src/lib/api-client-impl-simple.ts
  apps/web/src/lib/api-client-impl.ts
  apps/web/src/lib/api-client-types-simple.ts
  apps/web/src/lib/api.ts
Labels: frontend

refactor(menu): extract menu editor into 17 modular components
  apps/web/src/app/(dashboard)/settings/menu/components/ColorSelector.tsx
  apps/web/src/app/(dashboard)/settings/menu/components/CreateItemDialogs.tsx
  apps/web/src/app/(dashboard)/settings/menu/components/FolderMenuItem.tsx
  apps/web/src/app/(dashboard)/settings/menu/components/IconSelector.tsx
  apps/web/src/app/(dashboard)/settings/menu/components/MenuItemEditModal.tsx
  apps/web/src/app/(dashboard)/settings/menu/components/SortableUserMenuItem.tsx
  apps/web/src/app/(dashboard)/settings/menu/components/StandardMenuItemDisplay.tsx
  apps/web/src/app/(dashboard)/settings/menu/components/StandardMenuPanel.tsx
  apps/web/src/app/(dashboard)/settings/menu/components/UserMenuPanel.tsx
  apps/web/src/app/(dashboard)/settings/menu/hooks/useMenuApi.ts
  apps/web/src/app/(dashboard)/settings/menu/hooks/useMenuDragDrop.ts
  apps/web/src/app/(dashboard)/settings/menu/hooks/useMenuState.ts
  apps/web/src/app/(dashboard)/settings/menu/page.tsx
  apps/web/src/app/(dashboard)/settings/menu/types/menu.types.ts
  apps/web/src/app/(dashboard)/settings/menu/utils/color-utils.ts
  apps/web/src/app/(dashboard)/settings/menu/utils/icon-utils.ts
  apps/web/src/app/(dashboard)/settings/menu/utils/menu-transformers.ts
  apps/web/src/app/(dashboard)/settings/menu/utils/menu-type-utils.ts
Labels: frontend

refactor(sidebar): extract sidebar into 10 modular components
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/components/layout/sidebar/components/NavItem.tsx
  apps/web/src/components/layout/sidebar/components/SidebarFooter.tsx
  apps/web/src/components/layout/sidebar/components/SidebarHeader.tsx
  apps/web/src/components/layout/sidebar/components/SidebarMenuSwitch.tsx
  apps/web/src/components/layout/sidebar/constants/icon-map.ts
  apps/web/src/components/layout/sidebar/constants/navigation.ts
  apps/web/src/components/layout/sidebar/index.ts
  apps/web/src/components/layout/sidebar/types.ts
  apps/web/src/components/layout/sidebar/utils/active-state.ts
  apps/web/src/components/layout/sidebar/utils/menu-converter.ts
Labels: frontend

feat(i18n): complete internationalization for 35+ components
  apps/web/src/app/(app)/inventory/materials/page.tsx
  apps/web/src/app/(dashboard)/admin/menus/components/menu-item-editor.tsx
  apps/web/src/app/(dashboard)/admin/menus/page.tsx
  apps/web/src/app/(dashboard)/admin/sessions/page.tsx
  apps/web/src/components/admin/bulk-profile-management.tsx
  apps/web/src/components/admin/group-management-panel.tsx
  apps/web/src/components/admin/role-management-panel.tsx
  apps/web/src/components/admin/translation-admin.tsx
  apps/web/src/components/articles/article-form-dialog.tsx
  apps/web/src/components/articles/inventory-dialog.tsx
  apps/web/src/components/facturation/create-facture-dialog.tsx
  apps/web/src/components/facturation/factures-filters.tsx
  apps/web/src/components/partners/addresses-manager.tsx
  apps/web/src/components/partners/sites-manager.tsx
  apps/web/src/components/production/create-ordre-dialog.tsx
  apps/web/src/components/production/planning-gantt.tsx
  apps/web/src/components/production/production-filters.tsx
  apps/web/src/components/production/production-table.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/src/components/query-builder/add-to-menu-button.tsx
  apps/web/src/components/query-builder/visual-query-builder.tsx
  apps/web/src/components/search/command-palette.tsx
  apps/web/src/components/settings/template-selector.tsx
  apps/web/src/components/stocks/add-material-dialog.tsx
  apps/web/src/components/stocks/chutes-optimizer.tsx
  apps/web/src/components/stocks/chutes-table.tsx
  apps/web/src/components/stocks/mouvements-table.tsx
  apps/web/src/lib/i18n/translations/en.ts
  apps/web/src/lib/i18n/translations/es.ts
  apps/web/src/lib/i18n/translations/fr.ts
Labels: frontend

chore(cleanup): remove debug console.log statements from production
  apps/web/src/app/api/auth/login/route.ts
  apps/web/src/components/auth/company-selector.tsx
  apps/web/src/lib/auth/auth-provider.tsx
Labels: frontend

fix(typescript): resolve exclusions and remove from tsconfig
  apps/web/src/app/api/admin/permissions/route.ts
  apps/web/src/stores/index.ts
  apps/web/tsconfig.json
Labels: frontend

docs: add comprehensive CHANGELOG for frontend refactoring sprint
  CHANGELOG.md
Labels: documentation

test: add comprehensive unit tests for critical hooks
  apps/web/src/app/(dashboard)/settings/menu/hooks/__tests__/useMenuApi.test.ts
  apps/web/src/app/(dashboard)/settings/menu/hooks/__tests__/useMenuState.test.ts
  apps/web/src/hooks/__tests__/use-auth.test.ts
  apps/web/src/hooks/__tests__/use-datatable.test.ts
  apps/web/src/test/setup.ts
Labels: frontend, tests

docs: add comprehensive JSDoc documentation to all exports
  apps/web/src/app/(dashboard)/settings/menu/hooks/useMenuApi.ts
  apps/web/src/app/(dashboard)/settings/menu/hooks/useMenuDragDrop.ts
  apps/web/src/app/(dashboard)/settings/menu/hooks/useMenuState.ts
  apps/web/src/app/(dashboard)/settings/menu/utils/color-utils.ts
  apps/web/src/app/(dashboard)/settings/menu/utils/icon-utils.ts
  apps/web/src/app/(dashboard)/settings/menu/utils/menu-transformers.ts
  apps/web/src/app/(dashboard)/settings/menu/utils/menu-type-utils.ts
  apps/web/src/components/layout/sidebar/utils/active-state.ts
  apps/web/src/components/layout/sidebar/utils/menu-converter.ts
  apps/web/src/hooks/use-auth.ts
  apps/web/src/hooks/use-datatable.ts
Labels: frontend

feat: implement comprehensive error handling and logging system
  apps/web/INTEGRATION-NOTES.md
  apps/web/src/components/global-error-boundary.tsx
  apps/web/src/hooks/use-error-handler.ts
  apps/web/src/lib/errors/README.md
  apps/web/src/lib/errors/api-client-integration-example.ts
  apps/web/src/lib/errors/error-handler.ts
  apps/web/src/lib/errors/error-types.ts
  apps/web/src/lib/errors/index.ts
  apps/web/src/lib/errors/logger.ts
Labels: frontend, documentation

test: add comprehensive E2E tests with Playwright (95+ tests)
  apps/web/E2E-TESTS-SUMMARY.md
  apps/web/e2e/.gitignore
  apps/web/e2e/QUICK-START.md
  apps/web/e2e/README.md
  apps/web/e2e/auth.spec.ts
  apps/web/e2e/crud-operations.spec.ts
  apps/web/e2e/error-handling.spec.ts
  apps/web/e2e/fixtures/test-data.ts
  apps/web/e2e/navigation.spec.ts
  apps/web/e2e/settings.spec.ts
  apps/web/e2e/utils/test-helpers.ts
  apps/web/package.json
  apps/web/playwright.config.ts
Labels: frontend, documentation, tests, dependencies

docs(changelog): Document unit tests, JSDoc, error handling, and E2E tests
  CHANGELOG.md
Labels: documentation

feat(error-handling): Integrate error handling system into application
  apps/web/src/app/layout.tsx
  apps/web/src/lib/i18n/translations/en.ts
  apps/web/src/lib/i18n/translations/es.ts
  apps/web/src/lib/i18n/translations/fr.ts
Labels: frontend

chore: update to Next.js 15.5.6 and fix i18n keys
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/app/error.tsx
  apps/web/src/components/layout/dashboard-content.tsx
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/components/layout/sidebar/components/SidebarFooter.tsx
  apps/web/src/components/layout/sidebar/components/SidebarHeader.tsx
  apps/web/src/components/layout/sidebar/components/SidebarMenuSwitch.tsx
  apps/web/src/lib/i18n/translations/en.ts
  apps/web/src/lib/i18n/translations/es.ts
  apps/web/src/lib/i18n/translations/fr.ts
  pnpm-lock.yaml
Labels: frontend, configuration, dependencies

fix(i18n): update i18n-usage script for modular translation structure
  apps/web/scripts/i18n-usage.ts
Labels: frontend

fix: lower Node.js version requirement to >=22.11.0 for Dokploy compatibility
  package.json
Labels: configuration, dependencies

fix: disable engine-strict for Dokploy deployment compatibility
  .npmrc
Labels: configuration, dependencies

fix: add nixpacks config with --ignore-engines for Dokploy
  nixpacks.toml
Labels: none

fix: add react/jsx-dev-runtime to externals for Vite build
  packages/ui/vite.config.mts
Labels: frontend

fix: Docker deployment and React setState errors
  .dockerignore
  Dockerfile
  apps/web/next.config.mjs
  apps/web/src/hooks/use-local-storage.ts
  apps/web/src/hooks/use-ui-preferences.ts
  nixpacks.toml
  packages/ui/vite.config.mts
Labels: frontend

fix: correct package path erp-entities in Dockerfile
  Dockerfile
Labels: none

fix(i18n): add missing modules.title translation key
  apps/web/src/app/(dashboard)/admin/page.tsx
  apps/web/src/app/(dashboard)/admin/users/page.tsx
  apps/web/src/app/(dashboard)/admin/users/users-datatable.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/profile/page.tsx
  apps/web/src/app/(dashboard)/settings/appearance/page.tsx
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/(dashboard)/settings/security/page.tsx
  apps/web/src/components/layout/dashboard-content.tsx
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/components/layout/sidebar/components/NavItem.tsx
  apps/web/src/components/layout/sidebar/components/SidebarHeader.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/lib/i18n/generated-types.ts
  apps/web/src/lib/i18n/translations/en/misc.ts
  apps/web/src/lib/i18n/translations/es/index.ts
  apps/web/src/lib/i18n/translations/es/misc.ts
  apps/web/src/lib/i18n/translations/fr/index.ts
  apps/web/src/lib/i18n/translations/fr/misc.ts
  packages/ui/src/components/data-display/datatable/DataTable.tsx
  packages/ui/src/components/data-display/datatable/components/DataTableHeader/index.tsx
  packages/ui/src/components/data-display/datatable/settings-manager.ts
  packages/ui/src/components/layout/index.ts
  packages/ui/src/components/layout/page-header/PageHeader.tsx
  packages/ui/src/components/layout/page-layout/PageContainer.tsx
  packages/ui/src/components/layout/page-layout/PageGrid.tsx
  packages/ui/src/components/layout/page-layout/PageSection.tsx
  packages/ui/src/components/layout/page-layout/index.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/design-system.ts
Labels: frontend

fix: build only web app in Dockerfile, skip API
  Dockerfile
Labels: none

fix: Dockerfile to build and run both web and API
  Dockerfile
Labels: none

fix: copy full node_modules for Prisma client
  Dockerfile
Labels: none

fix: correct API entry point path to dist/app/main.js
  Dockerfile
Labels: none

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"
