Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"

.
  apps/api/eslint.config.js
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/common/decorators/current-user.decorator.ts
  apps/api/src/common/filters/http-exception.filter.ts
  apps/api/src/config/https.config.ts
  apps/api/src/database/data-source.ts
  apps/api/src/database/seeds/1700000001-InitialData.ts
  apps/api/src/health/integrity.service.ts
  apps/api/src/types/express.d.ts
  apps/api/src/types/middleware.d.ts
  apps/api/test/jest-e2e.json
  apps/api/tsconfig.json
  test/projets.e2e-spec.ts
  test/setup.ts
Labels: backend, dependencies, types, database

Refactor controllers and services for consistency and soft delete
  apps/api/src/health/integrity.service.ts
  apps/api/src/modules/machines/machines.controller.ts
  apps/api/src/modules/machines/machines.service.ts
  apps/api/src/modules/maintenance/maintenance.controller.ts
  apps/api/src/modules/maintenance/maintenance.service.ts
  apps/api/src/modules/materiaux/materiaux.controller.ts
  apps/api/src/modules/materiaux/materiaux.service.ts
  apps/api/src/modules/planning/planning.controller.ts
  apps/api/src/modules/planning/planning.service.ts
  apps/api/src/modules/qualite/qualite.controller.ts
  apps/api/src/modules/qualite/qualite.service.ts
  apps/api/src/modules/tracabilite/tracabilite.controller.ts
  apps/api/src/modules/tracabilite/tracabilite.service.ts
  apps/api/src/modules/users/users.service.ts
Labels: backend

.
  apps/api/src/config/redis.config.ts
  apps/api/src/redis/redis.module.ts
  pnpm-lock.yaml
Labels: backend, configuration, dependencies

.
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/database/database.module.ts
  apps/api/src/health/integrity.service.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/guards/roles.guard.ts
  apps/api/src/modules/auth/guards/ws-jwt.guard.ts
  apps/api/src/modules/auth/services/jwt-utils.service.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.ts
  apps/api/src/modules/machines/entities/machine.entity.ts
  apps/api/src/modules/machines/machines.controller.ts
  apps/api/src/modules/maintenance/entities/maintenance.entity.ts
  apps/api/src/modules/maintenance/maintenance.controller.ts
  apps/api/src/modules/materiaux/entities/materiaux.entity.ts
  apps/api/src/modules/materiaux/materiaux.controller.ts
  apps/api/src/modules/notifcations/notifications.gateway.ts
  apps/api/src/modules/planning/entities/planning.entity.ts
  apps/api/src/modules/planning/planning.controller.ts
  apps/api/src/modules/projets/projets.controller.ts
  apps/api/src/modules/projets/projets.service.ts
  apps/api/src/modules/qualite/qualite.controller.ts
  apps/api/src/modules/tracabilite/entities/tracabilite.entity.ts
  apps/api/src/modules/tracabilite/tracabilite.controller.ts
  apps/api/src/modules/tracabilite/tracabilite.service.ts
Labels: backend, dependencies, database

.
  apps/api/src/modules/auth/guards/jwt-auth.guard.ts
  apps/api/src/modules/clients/clients.controller.ts
  apps/api/src/modules/devis/devis.controller.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/facturation/facturation.controller.ts
  apps/api/src/modules/machines/entities/machine.entity.ts
  apps/api/src/modules/maintenance/entities/maintenance.entity.ts
  apps/api/src/modules/materiaux/entities/materiaux.entity.ts
  apps/api/src/modules/notifcations/notifications.service.ts
  apps/api/src/modules/notifications/notifications.controller.ts
  apps/api/src/modules/planning/entities/planning.entity.ts
  apps/api/src/modules/production/production.controller.ts
  apps/api/src/modules/qualite/entities/qualite.entity.ts
  apps/api/src/modules/stocks/stocks.controller.ts
  apps/api/src/modules/tracabilite/entities/tracabilite.entity.ts
  apps/api/src/modules/users/users.controller.ts
Labels: backend, database

.
  apps/api/src/common/decorators/current-user.decorator.ts
  apps/api/src/common/interceptors/logging.interceptor.ts
  apps/api/src/modules/auth/strategies/local.strategy.ts
  apps/api/src/modules/fournisseurs/fournisseurs.service.ts
  apps/api/src/modules/notifcations/notifications.gateway.ts
  apps/api/src/modules/planning/planning.service.ts
Labels: backend

.
  apps/api/src/modules/machines/machines.service.ts
  apps/api/src/modules/maintenance/maintenance.service.ts
  apps/api/src/modules/materiaux/materiaux.service.ts
  apps/api/src/modules/projets/projets.service.ts
  apps/api/src/modules/qualite/qualite.service.ts
  apps/api/src/modules/tracabilite/tracabilite.service.ts
Labels: backend

.
  apps/api/package.json
  apps/web/tsconfig.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, types

Add and integrate DTOs for CRUD controllers
  apps/api/src/modules/auth/guards/jwt-auth.guard.ts
  apps/api/src/modules/clients/clients.controller.ts
  apps/api/src/modules/clients/dto/create-client.dto.ts
  apps/api/src/modules/clients/dto/update-client.dto.ts
  apps/api/src/modules/devis/devis.controller.ts
  apps/api/src/modules/devis/dto/create-devis.dto.ts
  apps/api/src/modules/devis/dto/update-devis.dto.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/documents/dto/create-document.dto.ts
  apps/api/src/modules/documents/dto/update-document.dto.ts
  apps/api/src/modules/facturation/dto/create-facturation.dto.ts
  apps/api/src/modules/facturation/dto/update-facturation.dto.ts
  apps/api/src/modules/facturation/facturation.controller.ts
  apps/api/src/modules/notifcations/notifications.service.ts
  apps/api/src/modules/notifications/dto/create-notification.dto.ts
  apps/api/src/modules/notifications/dto/update-notification.dto.ts
  apps/api/src/modules/notifications/notifications.controller.ts
  apps/api/src/modules/production/dto/create-production.dto.ts
  apps/api/src/modules/production/dto/update-production.dto.ts
  apps/api/src/modules/production/production.controller.ts
  apps/api/src/modules/stocks/dto/create-stock.dto.ts
  apps/api/src/modules/stocks/dto/update-stock.dto.ts
  apps/api/src/modules/stocks/stocks.controller.ts
  apps/api/src/modules/users/users.controller.ts
  packages/config/tsconfig.json
Labels: backend

.
  apps/api/package.json
  apps/api/src/modules/devis/devis.service.ts
  apps/api/src/modules/devis/entities/devis.entity.ts
  apps/api/src/modules/facturation/entities/facturation.entity.ts
  apps/api/src/modules/facturation/facturation.service.ts
  apps/api/src/modules/notifcations/notifications.module.ts
  apps/api/src/modules/notifcations/notifications.service.ts
  apps/api/src/modules/notifications/entities/notifications.entity.ts
  apps/api/src/modules/notifications/notifications.gateway.ts
  apps/api/src/modules/notifications/notifications.service.ts
  apps/api/src/modules/production/entities/production.entity.ts
  apps/api/src/modules/production/production.service.ts
  apps/api/src/modules/stocks/entities/stocks.entity.ts
Labels: backend, dependencies, database

Refactor entity naming and improve config loading
  apps/api/nest-cli.json
  apps/api/src/app.module.ts
  apps/api/src/config/database.config.ts
  apps/api/src/database/database.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/auth/services/jwt-utils.service.ts
  apps/api/src/modules/clients/clients.module.ts
  apps/api/src/modules/clients/clients.service.ts
  apps/api/src/modules/clients/entities/clients.entity.ts
  apps/api/src/modules/machines/entities/machine.entity.ts
  apps/api/src/modules/notifications/entities/notifications.entity.ts
  apps/api/src/modules/notifications/notifications.module.ts
  apps/api/src/modules/notifications/notifications.service.ts
  apps/api/src/modules/users/entities/user.entity.ts
  apps/api/src/modules/users/entities/users.entity.ts
Labels: backend, database

.
  apps/api/src/modules/machines/machines.service.ts
  apps/api/src/modules/maintenance/entities/maintenance.entity.ts
  apps/api/src/modules/maintenance/maintenance.service.ts
  apps/api/src/modules/notifications/dto/create-notification.dto.ts
Labels: backend, database

.
  .env.example
  apps/api/src/common/base/base.entity.ts
  apps/api/src/database/database.module.ts
Labels: backend, configuration

.
  apps/api/src/database/database.module.ts
  apps/api/src/modules/fournisseurs/entities/fournisseur.entity.ts
  apps/api/src/modules/fournisseurs/entities/fournisseurs.entity.ts
  apps/api/src/modules/fournisseurs/fournisseurs.module.ts
  apps/api/src/modules/fournisseurs/fournisseurs.service.ts
Labels: backend, database

.
  apps/api/src/database/database.module.ts
  apps/api/src/modules/clients/entities/clients.entity.ts
  apps/api/src/modules/devis/entities/devis.entity.ts
  apps/api/src/modules/documents/documents.module.ts
  apps/api/src/modules/documents/documents.service.ts
  apps/api/src/modules/documents/entities/document.entity.ts
  apps/api/src/modules/documents/entities/documents.entity.ts
  apps/api/src/modules/facturation/entities/facturation.entity.ts
  apps/api/src/modules/fournisseurs/entities/fournisseur.entity.ts
  apps/api/src/modules/machines/entities/machine.entity.ts
  apps/api/src/modules/machines/entities/machines.entity.ts
  apps/api/src/modules/maintenance/entities/maintenance.entity.ts
  apps/api/src/modules/materiaux/entities/materiaux.entity.ts
  apps/api/src/modules/notifications/entities/notifications.entity.ts
  apps/api/src/modules/planning/entities/planning.entity.ts
  apps/api/src/modules/production/entities/production.entity.ts
  apps/api/src/modules/projets/entities/projet.entity.ts
  apps/api/src/modules/projets/entities/projets.entity.ts
  apps/api/src/modules/projets/projets.module.ts
  apps/api/src/modules/projets/projets.service.ts
  apps/api/src/modules/qualite/entities/qualite.entity.ts
  apps/api/src/modules/stocks/entities/stocks.entity.ts
  apps/api/src/modules/tracabilite/entities/tracabilite.entity.ts
  apps/api/src/modules/users/entities/user.entity.ts
Labels: backend, database

.
  apps/api/src/modules/machines/entities/machines.entity.ts
  apps/api/src/modules/machines/machines.module.ts
  apps/api/src/modules/machines/machines.service.ts
Labels: backend, database

.
  apps/api/src/app.module.ts
  apps/api/src/database/database.module.ts
  apps/api/src/modules/commandes/commandes.controller.ts
  apps/api/src/modules/commandes/commandes.module.ts
  apps/api/src/modules/commandes/commandes.service.ts
  apps/api/src/modules/commandes/dto/commandes-query.dto.ts
  apps/api/src/modules/commandes/dto/create-commande.dto.ts
  apps/api/src/modules/commandes/dto/update-commande.dto.ts
  apps/api/src/modules/devis/entities/devis.entity.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/documents/documents.service.ts
  apps/api/src/modules/documents/dto/documents-query.dto.ts
  apps/api/src/modules/fournisseurs/entities/fournisseur.entity.ts
  apps/api/src/modules/production/dto/create-ordre-fabrication.dto.ts
  apps/api/src/modules/production/dto/ordre-fabrication-query.dto.ts
  apps/api/src/modules/production/dto/update-ordre-fabrication.dto.ts
  apps/api/src/modules/production/ordre-fabrication.controller.ts
  apps/api/src/modules/production/ordre-fabrication.service.ts
  apps/api/src/modules/production/production.controller.ts
  apps/api/src/modules/production/production.module.ts
  apps/api/src/modules/projets/dto/projets-query.dto.ts
  apps/api/src/modules/projets/projets.controller.ts
  apps/api/src/modules/projets/projets.service.ts
  apps/api/src/modules/stocks/dto/create-produit.dto.ts
  apps/api/src/modules/stocks/dto/create-stock.dto.ts
  apps/api/src/modules/stocks/dto/produits-query.dto.ts
  apps/api/src/modules/stocks/dto/update-produit.dto.ts
  apps/api/src/modules/stocks/produits.controller.ts
  apps/api/src/modules/stocks/produits.service.ts
  apps/api/src/modules/stocks/stocks.module.ts
  apps/api/src/modules/users/entities/user.entity.ts
Labels: backend, database

.
  apps/api/src/main.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/clients/clients.controller.ts
  apps/api/src/modules/commandes/commandes.controller.ts
  apps/api/src/modules/devis/devis.controller.ts
  apps/api/src/modules/documents/documents.controller.ts
  apps/api/src/modules/facturation/facturation.controller.ts
  apps/api/src/modules/fournisseurs/fournisseurs.controller.ts
  apps/api/src/modules/machines/machines.controller.ts
  apps/api/src/modules/maintenance/maintenance.controller.ts
  apps/api/src/modules/materiaux/materiaux.controller.ts
  apps/api/src/modules/notifications/notifications.controller.ts
  apps/api/src/modules/planning/planning.controller.ts
  apps/api/src/modules/production/ordre-fabrication.controller.ts
  apps/api/src/modules/production/production.controller.ts
  apps/api/src/modules/projets/projets.controller.ts
  apps/api/src/modules/qualite/qualite.controller.ts
  apps/api/src/modules/stocks/produits.controller.ts
  apps/api/src/modules/stocks/stocks.controller.ts
  apps/api/src/modules/tracabilite/tracabilite.controller.ts
  apps/api/src/modules/users/users.controller.ts
  pnpm-lock.yaml
Labels: backend, configuration, dependencies

Update main.ts
  apps/api/src/main.ts
Labels: backend

Update package.json
  apps/api/package.json
Labels: backend, dependencies

Update app.controller.spec.ts
  apps/api/src/app.controller.spec.ts
Labels: backend, tests

Rename ESLint config to .mjs extension
  apps/api/eslint.config.mjs
Labels: backend

.
  apps/api/src/database/database.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/clients/entities/clients.entity.ts
  apps/api/src/modules/devis/dto/create-devis.dto.ts
  apps/api/src/modules/devis/entities/devis.entity.ts
  apps/api/src/modules/documents/dto/create-documents.dto.ts
  apps/api/src/modules/facturation/dto/create-facturation.dto.ts
  apps/api/src/modules/facturation/entities/facturation.entity.ts
  apps/api/src/modules/fournisseurs/dto/create-fournisseurs.dto.ts
  apps/api/src/modules/machines/dto/create-machines.dto.ts
  apps/api/src/modules/maintenance/dto/create-maintenance.dto.ts
  apps/api/src/modules/maintenance/entities/maintenance.entity.ts
  apps/api/src/modules/materiaux/dto/create-materiaux.dto.ts
  apps/api/src/modules/materiaux/entities/materiaux.entity.ts
  apps/api/src/modules/notifications/dto/create-notifications.dto.ts
  apps/api/src/modules/notifications/entities/notifications.entity.ts
  apps/api/src/modules/planning/dto/create-planning.dto.ts
  apps/api/src/modules/planning/entities/planning.entity.ts
  apps/api/src/modules/production/dto/create-production.dto.ts
  apps/api/src/modules/production/entities/production.entity.ts
  apps/api/src/modules/projets/dto/create-projets.dto.ts
  apps/api/src/modules/qualite/dto/create-qualite.dto.ts
  apps/api/src/modules/qualite/entities/qualite.entity.ts
  apps/api/src/modules/stocks/dto/create-stocks.dto.ts
  apps/api/src/modules/stocks/entities/stocks.entity.ts
  apps/api/src/modules/tracabilite/dto/create-tracabilite.dto.ts
  apps/api/src/modules/tracabilite/entities/tracabilite.entity.ts
  apps/api/src/modules/users/dto/create-user.dto.ts
  apps/api/src/modules/users/entities/user.entity.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/src/types/express.d.ts
  apps/api/src/types/middleware.d.ts
  apps/web/src/hooks/use-optimized-component.ts
  packages/utils/src/helpers/array.ts
Labels: frontend, backend, types, utils, database

.
  apps/api/src/app.controller.ts
  apps/api/src/app.service.ts
  apps/api/src/modules/clients/clients.service.ts
  apps/api/src/modules/clients/dto/create-clients.dto.ts
  apps/api/src/modules/commandes/commandes.service.ts
  apps/api/src/modules/devis/devis.service.ts
  apps/api/src/modules/documents/documents.service.ts
  apps/api/src/modules/facturation/facturation.service.ts
  apps/api/src/modules/fournisseurs/fournisseurs.service.ts
  apps/api/src/modules/machines/machines.service.ts
  apps/api/src/modules/maintenance/maintenance.service.ts
  apps/api/src/modules/materiaux/materiaux.service.ts
  apps/api/src/modules/notifications/dto/create-notification.dto.ts
  apps/api/src/modules/notifications/notifications.service.ts
  apps/api/src/modules/planning/planning.service.ts
  apps/api/src/modules/production/ordre-fabrication.service.ts
  apps/api/src/modules/production/production.service.ts
  apps/api/src/modules/projets/projets.service.ts
  apps/api/src/modules/qualite/qualite.service.ts
  apps/api/src/modules/stocks/produits.service.ts
  apps/api/src/modules/stocks/stocks.service.ts
  apps/api/src/modules/tracabilite/tracabilite.service.ts
  apps/api/src/modules/users/users.service.ts
Labels: backend

.
  apps/api/src/modules/clients/dto/create-clients.dto.ts
  apps/api/src/modules/clients/entities/clients.entity.ts
  apps/api/src/modules/devis/dto/create-devis.dto.ts
  apps/api/src/modules/devis/entities/devis.entity.ts
  apps/api/src/modules/documents/dto/create-documents.dto.ts
  apps/api/src/modules/facturation/dto/create-facturation.dto.ts
  apps/api/src/modules/facturation/entities/facturation.entity.ts
  apps/api/src/modules/fournisseurs/dto/create-fournisseurs.dto.ts
  apps/api/src/modules/machines/dto/create-machines.dto.ts
  apps/api/src/modules/machines/entities/machine.entity.ts
  apps/api/src/modules/maintenance/dto/create-maintenance.dto.ts
  apps/api/src/modules/maintenance/entities/maintenance.entity.ts
  apps/api/src/modules/materiaux/dto/create-materiaux.dto.ts
  apps/api/src/modules/materiaux/entities/materiaux.entity.ts
  apps/api/src/modules/notifications/dto/create-notifications.dto.ts
  apps/api/src/modules/notifications/entities/notifications.entity.ts
  apps/api/src/modules/planning/dto/create-planning.dto.ts
  apps/api/src/modules/planning/entities/planning.entity.ts
  apps/api/src/modules/production/dto/create-production.dto.ts
  apps/api/src/modules/production/entities/production.entity.ts
  apps/api/src/modules/projets/dto/create-projets.dto.ts
  apps/api/src/modules/qualite/dto/create-qualite.dto.ts
  apps/api/src/modules/qualite/entities/qualite.entity.ts
  apps/api/src/modules/stocks/dto/create-stocks.dto.ts
  apps/api/src/modules/stocks/entities/stocks.entity.ts
  apps/api/src/modules/tracabilite/dto/create-tracabilite.dto.ts
  apps/api/src/modules/tracabilite/entities/tracabilite.entity.ts
  apps/api/src/modules/users/dto/create-user.dto.ts
  apps/api/src/modules/users/entities/user.entity.ts
Labels: backend, database

Refactor auth flows and UI, add error handling components
  apps/api/src/main.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dto/login.dto.ts
  apps/web/src/app/auth/register/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/components/auth/AuthProvider.tsx
  apps/web/src/components/ui/error-alert.tsx
  apps/web/src/lib/error-handler.ts
Labels: frontend, backend

Work on front
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/hooks/use-auth.ts
  apps/web/src/lib/api-client.ts
Labels: frontend

.
  apps/api/package.json
  apps/api/src/database/database.module.ts
  apps/api/src/modules/production/dto/create-operation.dto.ts
  apps/api/src/modules/production/dto/create-ordre-fabrication.dto.ts
  apps/api/src/modules/production/dto/update-operation.dto.ts
  apps/api/src/modules/production/dto/update-ordre-fabrication.dto.ts
  apps/api/src/modules/production/entities/operation.entity.ts
  apps/api/src/modules/production/entities/ordre-fabrication.entity.ts
  apps/api/src/modules/production/operation.controller.ts
  apps/api/src/modules/production/operation.service.ts
  apps/api/src/modules/production/ordre-fabrication.controller.ts
  apps/api/src/modules/production/ordre-fabrication.service.ts
  apps/api/src/modules/production/production.module.ts
  apps/web/package.json
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/components/ui/data-table.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/toast-container.tsx
  apps/web/src/hooks/use-auth.ts
  apps/web/src/hooks/use-confirm.ts
  apps/web/src/hooks/use-projets.ts
  apps/web/src/hooks/use-ui.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/services/auth.service.ts
  apps/web/src/services/projet.service.ts
  apps/web/src/services/projets-service.ts
  apps/web/src/store/index.ts
  apps/web/src/store/slices/auth.slice.ts
  apps/web/src/store/slices/projet.slice.ts
  apps/web/src/store/slices/stock.slice.ts
  apps/web/src/store/slices/ui.slice.ts
  apps/web/src/stores/auth.store.ts
  apps/web/src/stores/index.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/stores/ui.store.ts
  packages/types/src/api.ts
  packages/types/src/index.ts
  packages/types/src/production.ts
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, types, database

Update ordre-fabrication.service.ts
  apps/api/src/modules/production/ordre-fabrication.service.ts
Labels: backend

.
  apps/web/src/services/auth.service.ts
  apps/web/src/services/projet.service.ts
  apps/web/src/services/projets.service.ts
  apps/web/src/stores/auth.store.ts
  apps/web/src/stores/projet.store.ts
  packages/types/src/index.ts
Labels: frontend, types

.
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/components/providers/hydration-provider.tsx
  apps/web/src/hooks/use-projets.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/stores/projet.store.ts
Labels: frontend

.
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/providers/hydration-provider.tsx
  apps/web/src/hooks/use-projets.ts
  apps/web/src/hooks/use-store-ssr.ts
  apps/web/src/lib/id-system.ts
  apps/web/src/lib/store-utils.ts
  apps/web/src/stores/projet.store.ts
  apps/web/src/stores/ui.store.ts
  packages/utils/src/index.ts
Labels: frontend, utils

.
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/components/ui/theme-switcher.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/use-auth.ts
  apps/web/src/hooks/use-global-state.ts
  apps/web/src/hooks/use-projets.ts
  apps/web/src/hooks/use-store-ssr.ts
  apps/web/src/hooks/use-ui.ts
  apps/web/src/lib/utils.ts
  apps/web/src/stores/index.ts
  apps/web/test-theme.html
  packages/utils/src/index.ts
Labels: frontend, utils

.
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/tailwind.config.js
  package.json
  packages/config/package.json
  packages/config/tailwind/base.cjs
  packages/config/tailwind/base.css
  packages/types/package.json
  packages/ui/package.json
  packages/ui/scripts/validate-build.mjs
  packages/ui/scripts/validate-exports.mjs
  packages/ui/src/hooks/index.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/cn.ts
  packages/ui/src/types/index.ts
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  packages/ui/vite.config.mts
  packages/ui/vite.config.simple.mts
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Labels: frontend, configuration, dependencies, types, utils

.
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/config/app.config.ts
  apps/api/src/config/database.config.ts
  apps/api/src/config/jwt.config.ts
  apps/api/src/config/port-helper.ts
  apps/api/src/config/redis.config.ts
  apps/web/src/app/(dashboard)/chiffrage/page.tsx
  apps/web/src/components/facturation/create-devis-dialog.tsx
  apps/web/src/components/production/ordre-materiaux-tab.tsx
  apps/web/src/components/stocks/add-material-dialog.tsx
  apps/web/src/components/stocks/stock-alerts-panel.tsx
  apps/web/src/components/stocks/stocks-filters.tsx
  apps/web/src/components/stocks/stocks-table.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/lib/utils.ts
  packages/types/src/index.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: frontend, backend, configuration, dependencies, types, utils

.
  apps/web/.eslintrc.json
  apps/web/src/app/(dashboard)/chiffrage/page.tsx
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/app/(dashboard)/facturation/devis/[id]/edit/page.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/components/facturation/create-devis-dialog.tsx
  apps/web/src/components/facturation/create-facture-dialog.tsx
  apps/web/src/components/facturation/devis-preview.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/production/create-ordre-dialog.tsx
  apps/web/src/components/production/production-filters.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/providers/notifications-provider.tsx
  apps/web/src/components/providers/theme-provider.tsx
  apps/web/src/components/stocks/add-material-dialog.tsx
  apps/web/src/components/stocks/chutes-optimizer.tsx
  apps/web/src/components/stocks/chutes-table.tsx
  apps/web/src/components/stocks/create-mouvement-dialog.tsx
  apps/web/src/components/stocks/mouvements-table.tsx
  apps/web/src/components/stocks/stocks-filters.tsx
  apps/web/src/components/ui/data-table.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/theme-switcher.tsx
  apps/web/src/lib/store-utils.ts
  apps/web/src/types/global.d.ts
  apps/web/src/types/ui-stubs.d.ts
  apps/web/tsconfig.json
Labels: frontend, types

.
  apps/web/next.config.js
  apps/web/src/app/(dashboard)/facturation/devis/[id]/edit/page.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/components/facturation/paiements-table.tsx
  apps/web/src/components/providers/hydration-provider.tsx
  apps/web/src/components/ui/page-header.tsx
  apps/web/src/components/ui/projet-card.tsx
  apps/web/src/components/ui/upload-file.tsx
  apps/web/src/hooks/use-data-view.ts
  apps/web/src/hooks/use-performance.ts
  apps/web/src/hooks/use-store-ssr.ts
  packages/utils/src/helpers/string.ts
Labels: frontend, utils

.
  apps/web/src/app/(dashboard)/chiffrage/page.tsx
  apps/web/src/app/(dashboard)/facturation/devis/[id]/edit/page.tsx
  apps/web/src/app/(dashboard)/production/ordres/[ID]/page.tsx
  apps/web/src/components/facturation/create-paiement-dialog.tsx
  apps/web/src/components/production/ordre-materiaux-tab.tsx
  apps/web/src/components/production/ordre-operations-tab.tsx
  apps/web/src/components/production/ordre-qualite-tab.tsx
  apps/web/src/components/production/production-table.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/components/ui/upload-file.tsx
  apps/web/tsconfig.json
  packages/types/tsconfig.json
Labels: frontend, types

.
  apps/web/src/app/(dashboard)/production/page.tsx
  apps/web/src/components/production/create-ordre-dialog.tsx
  apps/web/src/components/production/production-filters.tsx
  apps/web/src/components/production/production-table.tsx
  apps/web/src/components/stocks/create-mouvement-dialog.tsx
Labels: frontend

.
  apps/web/src/app/(dashboard)/production/planning/page.tsx
  apps/web/src/app/(dashboard)/projets/page.tsx
  apps/web/src/app/(dashboard)/stock/chutes/page.tsx
  apps/web/src/app/(dashboard)/stock/mouvements/page.tsx
  apps/web/src/components/production/ordre-materiaux-tab.tsx
  apps/web/src/components/production/planning-gantt.tsx
  apps/web/src/components/stocks/chutes-optimizer.tsx
  apps/web/src/components/stocks/chutes-table.tsx
  packages/types/src/stocks.ts
  test/setup.ts
Labels: frontend, types
