Repository Symple44/TopSteel, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, configuration, dependencies, types, utils, ci/cd, database

Add new feature to process user input
  .turbo/daemon/04e55e5538efcf71-turbo.log.2025-06-17
  .vscode/extensions.json
  .vscode/keybindings.json
  .vscode/launch.json
  .vscode/task.json
  script/check-environment.ps1
  script/check-environment.sh
  script/full-setup.ps1
  script/full-setup.sh
  script/setup-postgres.ps1
Labels: none

Rename task.json to tasks.json in .vscode
  .vscode/tasks.json
Labels: none

Update settings.json
  .vscode/settings.json
Labels: none

Move scripts to scripts/ directory and update .gitignore
  .gitignore
  script.ps1
  scripts/check-deps.js
  scripts/check-environment.ps1
  scripts/check-environment.sh
  scripts/debug-info.js
  scripts/deploy.sh
  scripts/deps-dashboard.js
  scripts/dev-setup.sh
  scripts/full-setup.ps1
  scripts/full-setup.sh
  scripts/quick-start.sh
  scripts/setup-jest.ps1
  scripts/setup-postgres.ps1
  scripts/setup-windows.ps1
  scripts/update-deps.js
Labels: ci/cd

Update settings.json
  .vscode/settings.json
Labels: none

Add new feature to process user input
  .vscode/settings.json
  apps/api/package.json
  apps/web/package.json
  package.json.backup
  packages/utils/src/validation/security-helpers.ts
  packages/utils/src/validation/security-schemas.ts
  pnpm-lock.yaml.backup
Labels: frontend, backend, dependencies, utils

Initial commit
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  README.md
  audit-ci.json
Labels: documentation, configuration, ci/cd

test
  script.sh
Labels: none

fix: resolve all ESLint errors and complete clients page
  apps/web/eslint.config.js
  apps/web/eslint.config.mjs
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/store/slices/stock.slice.ts
  packages/config/eslint/base.js
  packages/config/package.json
  script.ps1
  script.sh
  turbo.json
Labels: frontend, configuration, dependencies

fix: temporarily disable API and UI builds for CI/CD
  apps/api/package.json
  apps/api/src/common/middleware/logger.middleware.ts
  packages/ui/package.json
  script.ps1
  turbo.json
Labels: frontend, backend, configuration, dependencies

fix: create missing files for web build
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/app/(dashboard)/projets/nouveau/page.tsx
  apps/web/src/components/3d-viewer/index.tsx
  apps/web/src/components/charts/index.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/hooks/use-clients.ts
  apps/web/src/hooks/use-dashboard.ts
  script.ps1
Labels: frontend

fix: resolve missing dependencies and files - projets service, globals.css, react-query-devtools
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/services/projets.service.ts
  apps/web/src/types/projet.ts
  pnpm-lock.yaml
  script.ps1
Labels: frontend, configuration, dependencies

fix: implement @erp/ui package with essential components and proper build
  packages/ui/package.json
  packages/ui/src/components/alert.ts
  packages/ui/src/components/avatar.ts
  packages/ui/src/components/badge.ts
  packages/ui/src/components/breadcrumb.ts
  packages/ui/src/components/button.ts
  packages/ui/src/components/card.ts
  packages/ui/src/components/checkbox.ts
  packages/ui/src/components/container.ts
  packages/ui/src/components/data-table.ts
  packages/ui/src/components/dialog.ts
  packages/ui/src/components/form.ts
  packages/ui/src/components/grid.ts
  packages/ui/src/components/input.ts
  packages/ui/src/components/label.ts
  packages/ui/src/components/radio-group.ts
  packages/ui/src/components/select.ts
  packages/ui/src/components/sheet.ts
  packages/ui/src/components/skeleton.ts
  packages/ui/src/components/spinner.ts
  packages/ui/src/components/stack.ts
  packages/ui/src/components/table.ts
  packages/ui/src/components/tabs.ts
  packages/ui/src/components/textarea.ts
  packages/ui/src/components/toast.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  script.ps1
Labels: frontend, dependencies

fix: attempt ultra-simple build for @erp/ui - needs investigation
  packages/ui/build.js
  packages/ui/package.json
Labels: frontend, dependencies

fix: improved @erp/ui build but still investigating global build
  packages/ui/build-simple.js
  packages/ui/package.json
  packages/ui/src/index.ts
  script.ps1
Labels: frontend, dependencies

fix: Generated @erp/ui files, investigating remaining issues
  packages/ui/build-simple.js
  packages/ui/create-dist.js
  packages/ui/package.json
Labels: frontend, dependencies

fix: major progress on import errors - added UI components and services
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/table.tsx
  packages/ui/create-dist.js
  pnpm-lock.yaml
  script.ps1
Labels: frontend, configuration, dependencies

Refactor Select component and update usage across dashboard
  apps/web/next.config.js
  apps/web/src/app/(dashboard)/chiffrage/page.tsx
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/app/(dashboard)/production/production.tsx
  apps/web/src/app/(dashboard)/stock/page.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/ui/select-fixed.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/services/projets.service.ts
  script.ps1
Labels: frontend

Add new feature to process user input
  scripts/full-setup.ps1
  scripts/postgres-diagnostic.ps1
  scripts/setup-postgres.ps1
Labels: ci/cd

Improve PostgreSQL post-install diagnostics in setup script
  scripts/full-setup.ps1
Labels: ci/cd

Add new feature to process user input
  .vscode/keybindings.json
  .vscode/tasks.json
  package.json
  packages/ui/create-dist.js
  pnpm-lock.yaml
  script.ps1
Labels: frontend, configuration, dependencies

Fix
  apps/web/src/app/not-found.tsx
  packages/ui/create-dist.js
  script.ps1
Labels: frontend

Several fix
  apps/web/eslint.config.mjs
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-devis-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/projets/projet-info-tab.tsx
  apps/web/src/components/projets/projet-production-tab.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/services/auth.service.ts
  apps/web/src/store/index.ts
  apps/web/src/store/slices/auth.slice.ts
  apps/web/src/store/slices/projet.slice.ts
  apps/web/src/store/slices/stock.slice.ts
  apps/web/src/store/slices/ui.slice.ts
  pnpm-lock.yaml
  script.ps1
Labels: frontend, configuration, dependencies

Add new feature to process user input
  apps/web/next.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/auth/forgot-password/page.tsx
  apps/web/src/app/auth/register/page.tsx
  apps/web/src/app/global.css.backup.20250625-111709
  apps/web/src/app/globals.css
  apps/web/src/app/globals.css.backup.20250625-111709
  apps/web/src/app/login/page.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/lib/utils.ts
  apps/web/src/types/index.ts
  apps/web/tailwind.config.js
  docs/design-system.md
  packages/config/tailwind/base.js
  packages/config/tailwind/web.js
  pnpm-lock.yaml
  script.ps1
Labels: frontend, documentation, configuration, dependencies

Update package.json
  apps/api/package.json
Labels: backend, dependencies

Clean -DB work
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  scripts/manage-db.ps1
  sql/indexes/01-performance-indexes.sql
  sql/maintenance/01-cleanup-scripts.sql
  sql/schemas/01-main-schema.sql
  sql/seeds/01-sample-data.sql
  sql/triggers/01-audit-triggers.sql
  sql/views/01-business-views.sql
Labels: configuration, dependencies, ci/cd, database

several fixs
  apps/api/package.json
  apps/api/src/common/middleware/security.middleware.ts
  apps/api/src/config/https.config.ts
  apps/api/src/main.ts
  package.json
  packages/types/package.json
  packages/types/src/client.ts
  packages/types/src/devis.ts
  packages/types/src/forms.ts
  packages/types/src/production.ts
  packages/types/src/projet.ts
  packages/types/src/stock.ts
  packages/types/src/user.ts
  packages/utils/eslint.config.js
  packages/utils/eslint.config.permissive.js
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/lib/functions.ts
  packages/utils/src/validation/security-schemas.ts
  pnpm-lock.yaml.backup-20250626-110213
  script.ps1
  scripts/Check-Security.ps1
  scripts/Maintain-ESLint.ps1
Labels: backend, configuration, dependencies, types, utils, ci/cd

Update Node.js version and engines for CI compatibility
  .github/workflows/ci.yml
  .nvmrc
  apps/api/package.json
  apps/web/package.json
  package.json
  script.ps1
  scripts/Verify-CI.ps1
Labels: frontend, backend, configuration, dependencies, ci/cd

Add UI type stubs and missing types for TopSteel ERP
  .github/workflows/ci.yml
  apps/web/jest.setup.js
  apps/web/src/types/global.d.ts
  apps/web/src/types/ui-stubs.d.ts
  apps/web/tsconfig.json
  packages/types/src/index.ts
  packages/utils/src/index.ts
  script.ps1
  script.sh
Labels: frontend, configuration, types, utils, ci/cd

Refactor types and utils to resolve duplicate exports
  .github/workflows/ci.yml
  package.json
  packages/types/src/additional.ts
  packages/types/src/index.ts
  packages/types/src/index.ts.backup
  packages/utils/src/index.ts.backup
  script.ps1
  scripts/Restore-Backups.ps1
Labels: configuration, dependencies, types, utils, ci/cd

Remove additional types and clean up type exports
  packages/types/src/additional.ts
  packages/types/src/index.ts.backup-final
  script.ps1
Labels: types

Update React import type in ui-stubs and simplify script
  apps/web/src/types/ui-stubs.d.ts
  script.ps1
Labels: frontend, types

fix(ci): resolve remaining CI issues - exports, tests, security
  .github/workflows/ci.yml
  packages/types/eslint.config.js
  packages/types/src/common.ts
  packages/types/src/index.ts
  packages/utils/eslint.config.js
  script.ps1
Labels: configuration, types, utils, ci/cd

fix(ci): resolve remaining CI issues - exports, tests, security
  .github/workflows/ci.yml
  packages/types/eslint.config.js
  packages/types/src/common.ts
  packages/utils/eslint.config.js
Labels: configuration, types, utils, ci/cd

fix(ci): clean duplicates and resolve TypeScript errors
  apps/web/src/hooks/use-auth.ts
  apps/web/src/hooks/use-projets.ts
  apps/web/src/lib/react-query.ts
  apps/web/src/services/auth.service.ts
  apps/web/src/setupTests.ts
  apps/web/src/store/slices/stock.slice.ts
  packages/types/src/common.ts
  packages/types/src/index.ts
  packages/ui/src/data-table.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/page-header.tsx
  packages/ui/src/projet-card.tsx
  packages/ui/src/select.tsx
  packages/ui/src/toaster.tsx
  script.ps1
Labels: frontend, types

.
  .github/workflows/ci.yml
  .gitignore
Labels: configuration, ci/cd

Delete script.ps1
  script.ps1
Labels: none

Add test scripts, example tests, and improve avatar UI
  apps/api/package.json
  apps/api/src/__tests__/example.spec.ts
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/public/default-avatar-placeholder.txt
  apps/web/src/__tests__/example.test.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/hooks/use-auth.ts
  apps/web/src/setupTests.ts
  package.json
  packages/config/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
Labels: frontend, backend, tests, configuration, dependencies, types, utils

Add new test and format tasks to turbo.json
  turbo.json
  turbo.json.backup_20250626_170548
Labels: configuration

.
  apps/web/jest.config.js
  apps/web/src/__tests__/integration/api.integration.test.ts
  apps/web/src/app/(dashboard)/chiffrage/page.tsx
  apps/web/src/app/(dashboard)/clients/page.tsx
  apps/web/src/app/(dashboard)/production/production.tsx
  apps/web/src/app/(dashboard)/stock/page.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/layout/sidebar.tsx
  apps/web/src/components/projets/projet-3d-tab.tsx
  apps/web/src/components/projets/projet-documents-tab.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/setupTests.ts
  apps/web/src/store/slices/projet.slice.ts
  apps/web/src/store/slices/stock.slice.ts
  package.json.backup
  packages/types/src/index.ts
  packages/types/src/production.ts
  packages/types/src/projet.ts
  packages/types/src/user.ts
  packages/ui/src/index.ts
  pnpm-lock-final.backup
  pnpm-lock.yaml.backup
  pnpm-lock.yaml.backup-20250626-110213
  turbo.json
  turbo.json.backup_20250626_170548
Labels: frontend, tests, configuration, types

.github/labeler.yml:

# .github/labeler.yml
# Configuration pour l'auto-labeling des PRs

# Frontend
frontend:
  - apps/web/**/*
  - packages/ui/**/*

# Backend
backend:
  - apps/api/**/*

# Documentation
documentation:
  - "**/*.md"
  - docs/**/*

# Tests
tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**/*"
  - "**/__tests__/**/*"

# Configuration
configuration:
  - .github/**/*
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".env*"
  - ".*rc*"

# Dependencies
dependencies:
  - "**/package.json"
  - pnpm-lock.yaml
  - .npmrc

# Types
types:
  - packages/types/**/*
  - "**/*.d.ts"

# Utils
utils:
  - packages/utils/**/*

# CI/CD
"ci/cd":
  - .github/workflows/**/*
  - scripts/**/*

# Database
database:
  - "**/migrations/**/*"
  - "**/seeds/**/*"
  - "**/entities/**/*"
  - "**/schemas/**/*"
